### 1. pandas read_csv

pd.read_csv('data.csv', names = None, index_col = None, sep = None, skiprows = [0, 1]  # 건너뛰어야할 행이 있는 경우, 
na_values = ['누락']) # 특정 값을 NaN으로 취급할 때

df.to_csv('data.csv', sep = None # 구분자
, na_rep = '누락' # NaN으로 입력된 값을 변경
, index = False # 인덱스 출력 여부 지정
, header = False # 헤더 출력 여부 지정)

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv'); display(df)

In [ ]:
df.loc[10] = [23, 165, 56]  # 행추가

df.to_csv("data2.csv")  # csv 파일로 쓰고 저장하기

### 2. pandas merge

In [ ]:
df_combined = pd.merge(df, df1, how = 'outer')
df_combined

### 3. pandas drop_duplicates()

In [ ]:
df.drop_duplicates()  # 중복제거

### 4. pandas profiling

In [3]:
# !pip install pandas-profiling==3.1.0

Collecting pandas-profiling==3.1.0
  Downloading pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (0.11.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (1.8)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (1.4.2)
Collecting tangled-up-in-unicode==0.1.0
  Downloading tangled_up_in_unicode-0.1.0-py3-none-any.whl (3.1 MB)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (2.11.3)
Collecting htmlmin>=0.1.12
  Using cached htmlmin-0.1.12-py3-none-any.whl
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (0.7.4)
Collecting joblib~=1.0.1
  Downloading joblib-1.0.1-py3-none-any.whl (303 kB)
Collecting markupsafe~=2.0.1
  Downloading MarkupSafe-2.0.1-cp39-cp39-win_amd64.whl (14 kB)
Collecting missingno>=0.4.2
  Using cached missingno-0.5.1-py3-none-any.whl (8.7 kB)
Collecting pydantic>=1.8.1
  Using cached pydantic-1.9.2-cp39-cp39-win_amd64.whl (2.0 MB)
Requirement already satisfied: numpy>=1.16.0 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (1.21.5)
Collecting phik>=0.11.1
  Using cached phik-0.12.2-cp39-cp39-win_amd64.whl (685 kB)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (3.5.1)
Requirement already satisfied: requests>=2.24.0 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (2.27.1)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (4.64.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (1.7.3)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\conet\anaconda3\lib\site-packages (from pandas-profiling==3.1.0) (6.0)
Requirement already satisfied: attrs>=19.3.0 in c:\users\conet\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (21.4.0)
Requirement already satisfied: networkx>=2.4 in c:\users\conet\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (2.7.1)
Requirement already satisfied: Pillow in c:\users\conet\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (9.0.1)
Collecting imagehash
  Using cached ImageHash-4.2.1-py2.py3-none-any.whl
Requirement already satisfied: fonttools>=4.22.0 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (4.25.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.3.2)
Requirement already satisfied: packaging>=20.0 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (21.3)
Requirement already satisfied: cycler>=0.10 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\conet\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling==3.1.0) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\conet\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling==3.1.0) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\conet\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling==3.1.0) (4.1.1)
Requirement already satisfied: six>=1.5 in c:\users\conet\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling==3.1.0) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\conet\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\conet\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\conet\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\conet\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling==3.1.0) (3.3)
Requirement already satisfied: colorama in c:\users\conet\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling==3.1.0) (0.4.4)
Requirement already satisfied: PyWavelets in c:\users\conet\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling==3.1.0) (1.3.0)
Installing collected packages: tangled-up-in-unicode, markupsafe, joblib, imagehash, pydantic, phik, missingno, htmlmin, pandas-profiling
  Attempting uninstall: tangled-up-in-unicode
    Found existing installation: tangled-up-in-unicode 0.2.0
    Uninstalling tangled-up-in-unicode-0.2.0:
      Successfully uninstalled tangled-up-in-unicode-0.2.0
  Attempting uninstall: markupsafe
    Found existing installation: MarkupSafe 2.1.1
    Uninstalling MarkupSafe-2.1.1:
      Successfully uninstalled MarkupSafe-2.1.1
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed htmlmin-0.1.12 imagehash-4.2.1 joblib-1.0.1 markupsafe-2.0.1 missingno-0.5.1 pandas-profiling-3.1.0 phik-0.12.2 pydantic-1.9.2 tangled-up-in-unicode-0.1.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
anaconda-project 0.10.2 requires ruamel-yaml, which is not installed.

In [6]:
import pandas_profiling as pp

In [7]:
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [1]:
import pandas as pd
import pandas_profiling as pp  # Auto-ML; 자동으로 데이터셋에 대한 EDA 수행 후 report해줌
df = pd.read_csv('Heart.csv')
df.tail(12)
ppr = pp.ProfileReport(df)
ppr.to_widgets()
ppr.to_notebook_iframe()
ppr.to_file(output_file='Heart.ppr.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

### 4. matplotlib

In [ ]:
df['2009'].plot(kind='bar', color = ('orange', 'red', 'green')

In [ ]:
df.iat[]

### 5. dataframe의 slicing (.iloc/.iat vs. .loc/.at)

In [ ]:
df.loc[dates[0], ['A', 'B']]

In [ ]:
df.at[dates[0], 'A']

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[1, 1]  # 1번행의 1번컬럼
# df.iat[1, 1]  # 1번행의 1번컬럼

### 6. dataframe의 boolean

In [ ]:
# boolean형 데이터를 기준으로 데이터 출력
df[df.A > 0]  # 조건에 해당되지 않는 나머지 값들(0 또는 음수)은 NaN으로 표시

### 7. isin() 메소드; 필터링 시 사용

In [ ]:
df2 = df.copy()  # 원본 데이터를 유지하기 위해 복사본 사용
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

df2[df2['E'].isin(['two', 'four'])]

### 8. 데이터 변경

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20220801', periods = 6))
s1

df['F'] = s1

In [ ]:
df.at[dates[0], 'A'] = 0

In [ ]:
df.iloc[0, 1] = 0

df.loc[:, 'D'] = np.array([5] * len(df))  # 여러값을 한꺼번에 변경하고싶을때, 데이터의 크기 맞춰주기

In [ ]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

### 9. DataFrame과 리스트, 딕셔너리, 넘파이, ndarray 상호 변환

In [2]:
# 리스트, ndarray에서 dataframe으로 변환

import numpy as np

col_name1 = ['col1']
list1 = [1, 2, 3]
array1 = np.array(list1)
print('array1 shape:', array1.shape)

array1 shape: (3,)

In [3]:
col_name2 = ['col1', 'col2', 'col3']

list2 = [[1,2,3], [11,12,13]]
array2 = np.array(list2)
print('array2 shape:', array2.shape)

array2 shape: (2, 3)

In [4]:
df_list2 = pd.DataFrame(list2, columns = col_name2)
print('2차원 리스트로 만든 DataFrame:\n', df_list2)

2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [5]:
df_array1 = pd.DataFrame(array2, columns = col_name2)
print('2차원 ndarray로 만든 DataFrame:\n', df_array1)

2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    13

In [6]:
# 딕셔너리에서 DataFrame 변환
# key는 컬럼명으로 매핑, Value는 리스트 형 (또는 ndarray)
dict = {'col1': [1, 11]}

In [8]:
df_dict = pd.DataFrame(dict)

In [10]:
#dataframe을 ndarray로 변환
array3 = df_dict.values
print('df_dict.values타입:', type(array3), 'df_dict.values shape:', array3.shape)
print(array3)

df_dict.values타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 1)
[[ 1]
 [11]]

In [11]:
# DataFrame을 리스트와 딕셔너리로 변환
list3 = df_dict.values.tolist()  # tolist()로 리스트로 변환
print(list3)

[[1], [11]]

In [12]:
dict3 = df_dict.to_dict('list')  # list를 출력해주어야함
print(dict3)

{'col1': [1, 11]}

In [13]:
dict2 = df_dict.to_dict
print(dict2)

<bound method DataFrame.to_dict of    col1
0     1
1    11>

In [15]:
dict1 = df_dict.to_dict()
print(dict1)

{'col1': {0: 1, 1: 11}}

In [ ]:
# dataframe 및 series에 reset_index() 메소드 적용
# reset_index()의 파라미터 중 drop = True 설정 시 기존 인덱스는 새로운 컬럼으로 추가되지 않고 삭제됨
# 재인덱싱

df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

In [ ]:
pd.isna(df1)  # 해당 값이 결측치인지 아닌지 확인하고자 할 때; isna() 메소드 사용

In [ ]:
df1.isna().sum()  # 결측치의 갯수는 isna() 결과에 sum() 함수를 추가해서 구할 수 있음

In [ ]:
# 결측치가 하나라도 존재하는 행들을 버리고 싶은 경우; dropnna() 메소드 사용
df1.dropna(how = 'any')

In [ ]:
# 결측치를 특정한 값으로 채우고 싶은 경우 fillna()
df1.fillna(inplace = True)

In [ ]:
# 평균 구하기
df.mean()  # default는 axis = 0

In [ ]:
# 열(axis = 1)에 대해 평균 구하기
df.mean(axis = 1)

### 10. map(lambda x: x ** 2, a)

In [16]:
# apply lambda 식으로 적용
# map(lambda x:x ** 2, a)  # if a = [1, 2, 3]
a = [1, 2, 3]
squares = map(lambda x: x ** 2, a)
print(squares)

<map object at 0x00000140A967A550>

In [17]:
list(squares)

[1, 4, 9]

In [ ]:
df.apply(np.cumsum)  # np.cumsum(); 누적 합계 구하기 (행의 방향으로)

In [ ]:
df.apply(lambda x: x.max() - x.min())

### 11. histogram 구하기

In [18]:
s = pd.Series(np.random.randint(0, 7, size = 10))
print(s)

s.value_counts()  # unique한 values 출력

0    2
1    3
2    1
3    1
4    3
5    6
6    3
7    0
8    2
9    0
dtype: int32

3    3
2    2
1    2
0    2
6    1
dtype: int64

In [19]:
s.nunique()

5

In [20]:
s.unique()

array([2, 3, 1, 6, 0])

In [21]:
s1 = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s1.str.lower()  # 각 요소값들을 모두 소문자로 변경

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

### 12. merge, concat으로 합치기

In [23]:
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4))  # randn: 표준정규분포 난수 만들기

pieces = [df[:3], df[3:7], df[7:]]  # 만들어진 데이터프레임을 세 부분 (row 기준)으로 분할

pd.concat  # pandas에 있는 concat 메소드를 사용해서 데이터프레임을 원래대로 다시 합쳐주기

<function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[Hashable, NDFrame]', axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'>

In [24]:
df

          0         1         2         3
0  0.249820 -0.527654  3.095589  1.006585
1  1.459051  1.676204  0.204409 -0.271697
2  0.268170 -0.015428 -0.012171 -1.290975
3  1.598538  0.057495  1.242722  0.713325
4  0.270579 -0.684788  0.497619  0.075532
5  0.151235 -1.717123  1.290990 -0.920966
6  0.920127  1.086670  0.060242  0.303754
7 -3.270850  0.078750 -0.541481  0.752747
8 -1.390032 -0.187425  0.048018 -0.450248
9  0.087374  0.124037 -0.263023  0.296425

In [25]:
df[1]

0   -0.527654
1    1.676204
2   -0.015428
3    0.057495
4   -0.684788
5   -1.717123
6    1.086670
7    0.078750
8   -0.187425
9    0.124037
Name: 1, dtype: float64

In [27]:
df[[1]]  # 특정 컬럼만 접근해서 들어갈 때

          1
0 -0.527654
1  1.676204
2 -0.015428
3  0.057495
4 -0.684788
5 -1.717123
6  1.086670
7  0.078750
8 -0.187425
9  0.124037

In [28]:
type(df[[1]])

pandas.core.frame.DataFrame

In [31]:
df[1][2]  # column index 1의 데이터 중 row index 2에 대응되는 값

-0.01542802777426997

In [30]:
df[1,2]

InvalidIndexError: (1, 2)

In [32]:
df.at[1,2]  # array에서는 array[1,2] 또는 array[1][2]와 같은 표현

0.20440923136594388

### 13. Join

In [33]:
df.iat[1,2]

0.20440923136594388

In [34]:
df.at[1,2]

0.20440923136594388

In [36]:
df.at[2,1] # df[1][2] 와 같음

-0.01542802777426997

In [37]:
df[1][2]

-0.01542802777426997

In [41]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 1]})
right =  pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

merged = pd.merge(left, right, on = 'key')  # key를 기준으로 merge; 각각의 foo에 대해 value가 따로 매칭돼서 들어감
merged

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     1     4
3  foo     1     5

merge 시 위와 아래 차이 확인

In [40]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right =  pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})

merged = pd.merge(left, right, on = 'key')
merged

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [42]:
# 4번째 행을 기존의 데이터 프레임의 맨 뒤에 한번 더 추가
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

s = df.iloc[3]  # index 번호가 3, 즉 4번재 행을 의미함
df.append(s, ignore_index = True)  # ignore_index = True 설정 시 index 이름 무시

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\3048396377.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(s, ignore_index = True)  # ignore_index = True 설정 시 index 이름 무시

          A         B         C         D
0 -1.889803  2.194549 -0.134468  0.705288
1 -0.321104  0.675912  0.687614  0.010761
2  1.733796  1.639227 -0.643852 -0.297112
3  1.542115 -1.105441 -0.133166 -0.096320
4 -1.153720  0.202497 -0.390000 -0.246703
5 -1.519129 -0.016623 -1.258872  0.308666
6 -0.239537 -0.599709 -0.091254  1.679860
7 -0.137637 -0.219563  0.249477  0.086632
8  1.542115 -1.105441 -0.133166 -0.096320

In [43]:
# 4번째 행을 기존의 데이터 프레임의 맨 뒤에 한번 더 추가
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

s = df.iloc[3]  # index 번호가 3, 즉 4번재 행을 의미함
df.append(s, ignore_index = False)  # 기존의 index가 들어감

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\1759655887.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(s, ignore_index = False)  # ignore_index = True 설정 시 index 이름 무시

          A         B         C         D
0  0.098931 -0.526726 -0.658320 -0.799597
1  1.966841  1.676439  0.805268 -0.339394
2 -1.897418 -1.352423 -0.106626 -1.727935
3  0.367534  0.853954  1.026347 -1.104112
4  0.786796 -1.515961 -1.761900  0.992848
5  0.527282  1.390458  0.521545  0.506845
6 -2.301965  0.048464 -0.640142 -1.919718
7  0.966337 -0.292012 -0.139129 -0.490376
3  0.367534  0.853954  1.026347 -1.104112

In [44]:
type(s)  # 한 줄을 출력하면, series 형태로 반환

pandas.core.series.Series

### 14. grouping

In [45]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                         'foo', 'bar', 'foo', 'foo'],
                   'B': ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)}) # np.random.randn(): 표준 정규 분포에서 난수 matrix array 생성
df

     A      B         C         D
0  foo    one  0.301405 -0.296074
1  bar    one -1.872872  0.435739
2  foo    two -0.208039  0.051880
3  bar  three  0.298548  0.346670
4  foo    two -0.616875  0.421135
5  bar    two  1.746749 -0.653434
6  foo    one -0.167826  0.668811
7  foo  three  1.144055  0.668991

In [46]:
df.groupby('A').sum()  # 'A' 컬럼 기준으로 그룹핑 후 sum 구하기

            C         D
A
bar  0.172425  0.128975
foo  0.452720  1.514744

In [49]:
df.dtypes  # 데이터 타입 확인

A     object
B     object
C    float64
D    float64
dtype: object

In [50]:
# 여러 columns를 기준으로 그룹 묶기
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one   -1.872872  0.435739
    three  0.298548  0.346670
    two    1.746749 -0.653434
foo one    0.133579  0.372738
    three  1.144055  0.668991
    two   -0.824915  0.473015

In [51]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index = index, columns = ['A', 'B'])
df2 = df[:4]
print(df2)

                     A         B
first second
bar   one     1.283007 -0.112872
      two     0.023462  0.860778
baz   one    -0.385867  0.787280
      two     1.873922  0.233191

In [ ]:
# *는 차원을 벗겨내는 형태를 일컫음

In [53]:
# 행의 index 형태가 계층화되어있음
# 쌍이 되어진 형태로 index를 반환
stacked = df2.stack()  # stack() 메소드를 통해 A와 B라는 값을 가진 index 레벨이 하나 더 추가된 형태로 변환
stacked

first  second
bar    one     A    1.283007
               B   -0.112872
       two     A    0.023462
               B    0.860778
baz    one     A   -0.385867
               B    0.787280
       two     A    1.873922
               B    0.233191
dtype: float64

In [55]:
stacked.unstack()  # stack 메소드를 통해 압축된 수준을 갖는 데이터프레임을 다시 unstack 메소드로 마지막 수준부터 풀어줌
# 행의 인덱스에서 열의 인덱스로 바뀜

                     A         B
first second
bar   one     1.283007 -0.112872
      two     0.023462  0.860778
baz   one    -0.385867  0.787280
      two     1.873922  0.233191

In [56]:
stacked.unstack(0)  # 첫번째 수준을 해제 -> bar와 baz라는 column이 생김

first          bar       baz
second
one    A  1.283007 -0.385867
       B -0.112872  0.787280
two    A  0.023462  1.873922
       B  0.860778  0.233191

In [57]:
stacked.unstack(1)

second        one       two
first
bar   A  1.283007  0.023462
      B -0.112872  0.860778
baz   A -0.385867  1.873922
      B  0.787280  0.233191

### 15. pivot tables

pivot_table(data, values = None, index = None, columns = None, aggfunc = 'mean', fill_value = None, margins = False, margins_name = 'All')

- data: 분석할 데이터프레임 (메소드일때는 필요 x)
- values: 분석할 데이터프레임에서 분석할 열
- index: 행 인덱스로 들어갈 키 열 또는 키 열의 리스트
- columns: 열 인덱스로 들어갈 키 열 또는 키 열의 리스트
- aggfunc: 분석 메소드의 설정
- fill_value: NaN 대체 값 설정
- margins: 모든 데이터를 분석한 결과를 오른쪽과 아래에 붙일지 여부
- margins_name: 마진 열(행)의 이름

In [59]:
df = pd.DataFrame({'A': ['one', 'one', 'two', 'three'] * 3,
                  'B': ['A', 'B', 'C'] * 4,
                  'C': ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                  'D': np.random.randn(12),
                  'E': np.random.randn(12)})

In [61]:
df

        A  B    C         D         E
0     one  A  foo -2.080438  0.184650
1     one  B  foo  2.199894  0.581162
2     two  C  foo -0.140678  1.008110
3   three  A  bar -0.975896  0.140041
4     one  B  bar -2.397173  0.835353
5     one  C  bar -1.215904 -0.899486
6     two  A  foo -0.611650  1.519573
7   three  B  foo  0.490149  0.183198
8     one  C  foo -0.730344 -1.927754
9     one  A  bar  0.924865  1.156854
10    two  B  bar -0.071226  0.359302
11  three  C  bar -0.495818  0.169585

In [64]:
# 피벗 테이블 기능을 이용해서 위의 데이터프레임 변형
# 찾지못한 값은 NaN으로 표시
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C'])

C             bar       foo
A     B
one   A  0.924865 -2.080438
      B -2.397173  2.199894
      C -1.215904 -0.730344
three A -0.975896       NaN
      B       NaN  0.490149
      C -0.495818       NaN
two   A       NaN -0.611650
      B -0.071226       NaN
      C       NaN -0.140678

In [67]:
# 피벗 테이블 기능을 이용해서 위의 데이터프레임 변형
# 찾지못한 값은 NaN으로 표시
pd.pivot_table(df, values = 'D', index = ['A', 'B'], columns = ['C'], fill_value = None)

C             bar       foo
A     B
one   A  0.924865 -2.080438
      B -2.397173  2.199894
      C -1.215904 -0.730344
three A -0.975896       NaN
      B       NaN  0.490149
      C -0.495818       NaN
two   A       NaN -0.611650
      B -0.071226       NaN
      C       NaN -0.140678

### 16. pd.to_datetime() 함수

In [69]:
# 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 변형 후 DatetimeIndex 자료형 index 생성
date_str = ['2018, 1, 1', '2019, 01, 15', '2018, 4, 28', '2018, 1, 6']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2019-01-15', '2018-04-28', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [70]:
# 웨에서 만들러진 index 사용해서 Series나 DataFrame을 생성
np.random.seed(0)
s = pd.Series(np.random.randn(4), index = idx)
s

2018-01-01    1.764052
2019-01-15    0.400157
2018-04-28    0.978738
2018-01-06    2.240893
dtype: float64

In [71]:
pd.date_range('2018-4-1', '2018-4-30')

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range(start='2018-4-1', periods = 30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
pd.date_range(start='2018-4-1', periods = 30),

- 시계열 데이터

- pd.to_datetime() 함수: 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후, DatetimeIndex 자료형 index를 생성

In [77]:
date_str = ['2018, 1, 1', '2018, 1, 3', '2018, 1, 5', '2018, 1, 6']
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-03', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [78]:
np.random.seed(10)
rs = pd.Series(np.random.randn(4),
               index = idx)

In [79]:
rs

2018-01-01    1.331587
2018-01-03    0.715279
2018-01-05   -1.545400
2018-01-06   -0.008384
dtype: float64

- pd.date_range() 함수
- shift 연산
- resample 연산

In [80]:
ts = pd.Series(np.random.randn(100),
               index = pd.date_range('2018-1-1', periods = 100, freq = 'D'))
ts.head(10)

2018-01-01    0.621336
2018-01-02   -0.720086
2018-01-03    0.265512
2018-01-04    0.108549
2018-01-05    0.004291
2018-01-06   -0.174600
2018-01-07    0.433026
2018-01-08    1.203037
2018-01-09   -0.965066
2018-01-10    1.028274
Freq: D, dtype: float64

In [81]:
ts.resample('W').mean()  # 다운-샘플링의 경우, 원래의 데이터가 그룹으로 묶이므로 groupby때와 같이 그룹연산을 해서 대푯값을 구해야 함

2018-01-07    0.076861
2018-01-14    0.134078
2018-01-21    0.065480
2018-01-28    0.385014
2018-02-04    0.354158
2018-02-11   -0.409810
2018-02-18    0.016296
2018-02-25    0.655954
2018-03-04    0.018976
2018-03-11   -0.049917
2018-03-18    0.290947
2018-03-25   -0.312456
2018-04-01   -0.075532
2018-04-08   -0.341676
2018-04-15   -0.226579
Freq: W-SUN, dtype: float64

In [82]:
ts.resample('M').first()  # 달 단위 구간별로 각 column의 첫번째 값 구하기

2018-01-31    0.621336
2018-02-28    0.195013
2018-03-31   -0.697810
2018-04-30    0.711959
Freq: M, dtype: float64

### 17. 범주형데이터 다루기

In [83]:
df = pd.DataFrame({'id': [1, 2, 3, 4, 5, 6],
                  'raw_grade': ['a', 'b', 'c', 'd', 'e', 'a']})
df

   id raw_grade
0   1         a
1   2         b
2   3         c
3   4         d
4   5         e
5   6         a

In [85]:
# 단순한 문자로 돼있는 raw 데이터의 grade column을 범주형으로 변환
df['grade'] = df['raw_grade'].astype('category')
df['grade']

0    a
1    b
2    c
3    d
4    e
5    a
Name: grade, dtype: category
Categories (5, object): ['a', 'b', 'c', 'd', 'e']

In [91]:
# 범주들의 이름을 원하는대로 바꿔주기
# Series.cat.categories에 이름들을 할당
df['grade'].cat.categories = ['very good', 'good', 'very bad', 'bad', 'not bad']
df['grade']

0    very good
1         good
2     very bad
3          bad
4      not bad
5    very good
Name: grade, dtype: category
Categories (5, object): ['very good', 'good', 'very bad', 'bad', 'not bad']

In [92]:
df.sort_values(by = 'grade')

   id raw_grade      grade
0   1         a  very good
5   6         a  very good
1   2         b       good
2   3         c   very bad
3   4         d        bad
4   5         e    not bad

In [93]:
df.groupby('grade').size()  # 범주형 자료를 담고있는 column을 그룹으로 묶고, 각 범주에 해당하는 값의 빈도수 확인

grade
very good    2
good         1
very bad     1
bad          1
not bad      1
dtype: int64

In [97]:
ts = pd.Series(np.random.randn(1000), index = pd.date_range('1/1/2000', periods = 100))
ts = ts.cumsum()  # 누적합계
ts.plot()

ValueError: Length of values (1000) does not match length of index (100)

In [ ]:
df = pd.DataFrame(np.random.randn(1000, 4), index = ts.index, columns = ['A', 'B', 'C'])
df = df.cumsum()

In [ ]:
df.reset_index()  # 기존에 있는 index를 무시하고 새롭게 인덱싱

In [98]:
newind = 'CA IA'.split()

In [99]:
newind

['CA', 'IA']

In [ ]:
df.set_index('States')  # 사용하고자 하는 index명 지정

In [100]:
outside = ['G1', 'G2']
inside = [1, 2]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)  # levels와 labels 출력

In [101]:
hier_index

MultiIndex([('G1', 1),
            ('G2', 2)],
           )

In [103]:
df = pd.DataFrame(np.random.randn(2,2), index = hier_index, columns = ['A', 'B'])
df

             A         B
G1 1 -0.974188  0.333920
G2 2 -0.016446 -1.055929

In [104]:
df.loc['G1'].loc[1]

A   -0.974188
B    0.333920
Name: 1, dtype: float64

In [106]:
df.loc['G1']

          A        B
1 -0.974188  0.33392

In [107]:
df.xs('G1')  # xs() 메소드: index값에 해당하는 값으로 입력해주면 출력가능

          A        B
1 -0.974188  0.33392

In [108]:
df.xs(['G1',1])

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\580597333.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df.xs(['G1',1])

A   -0.974188
B    0.333920
Name: (G1, 1), dtype: float64

In [111]:
df.xs(1,level='Num')

KeyError: 'Level Num not found'

In [112]:
import pandas as pd
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [113]:
data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [114]:
display(data)

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [115]:
df = pd.DataFrame(data); display(df)

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [116]:
by_comp = df.groupby('Company')
by_comp

In [117]:
by_comp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [118]:
by_comp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [119]:
by_comp.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [120]:
by_comp.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [121]:
by_comp.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [122]:
by_comp.describe().transpose()['GOOG']

Sales  count      2.000000
       mean     160.000000
       std       56.568542
       min      120.000000
       25%      140.000000
       50%      160.000000
       75%      180.000000
       max      200.000000
Name: GOOG, dtype: float64

- Group by Mechanics

In [123]:
df = pd.read_csv("automobile.csv")
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [124]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [125]:
df.groupby('body-style').groups.keys()  # groups dataframe according to body-style and prints the keys of groups

dict_keys(['convertible', 'hardtop', 'hatchback', 'sedan', 'wagon'])

In [126]:
style = df.groupby('body-style')

In [127]:
style.get_group('hardtop')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
69,0,93,mercedes-benz,diesel,turbo,two,hardtop,rwd,front,106.7,...,183,idi,3.58,3.64,21.5,123,4350,22,25,28176
74,1,?,mercedes-benz,gas,std,two,hardtop,rwd,front,112.0,...,304,mpfi,3.8,3.35,8.0,184,4500,14,16,45400
98,2,168,nissan,gas,std,two,hardtop,fwd,front,95.1,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,8249
126,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,32528
127,3,?,porsche,gas,std,two,hardtop,rwd,rear,89.5,...,194,mpfi,3.74,2.9,9.5,207,5900,17,25,34028
167,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,8449
168,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,9639
170,2,134,toyota,gas,std,two,hardtop,rwd,front,98.4,...,146,mpfi,3.62,3.5,9.3,116,4800,24,30,11199

In [129]:
double_grouping = df.groupby(['body-style', 'drive-wheels'])  # level 0, level 1으로 설정
# to print the first values contained in each group
double_grouping.first()

                          symboling normalized-losses           make  \
body-style  drive-wheels
convertible fwd                   3                 ?     volkswagen
            rwd                   3                 ?    alfa-romero
hardtop     fwd                   2               168         nissan
            rwd                   0                93  mercedes-benz
hatchback   4wd                   0                 ?           audi
            fwd                   2               121      chevrolet
            rwd                   1                 ?    alfa-romero
sedan       4wd                   2               164           audi
            fwd                   2               164           audi
            rwd                   2               192            bmw
wagon       4wd                   0                85         subaru
            fwd                   1                 ?           audi
            rwd                  -1                93  mercedes-benz

                         fuel-type aspiration num-of-doors engine-location  \
body-style  drive-wheels
convertible fwd                gas        std          two           front
            rwd                gas        std          two           front
hardtop     fwd                gas        std          two           front
            rwd             diesel      turbo          two           front
hatchback   4wd                gas      turbo          two           front
            fwd                gas        std          two           front
            rwd                gas        std          two           front
sedan       4wd                gas        std         four           front
            fwd                gas        std         four           front
            rwd                gas        std          two           front
wagon       4wd                gas        std         four           front
            fwd                gas        std         four           front
            rwd             diesel      turbo         four           front

                          wheel-base  length  width  ...  engine-size  \
body-style  drive-wheels                             ...
convertible fwd                 94.5   159.3   64.2  ...          109
            rwd                 88.6   168.8   64.1  ...          130
hardtop     fwd                 95.1   162.4   63.8  ...           97
            rwd                106.7   187.5   70.3  ...          183
hatchback   4wd                 99.5   178.2   67.9  ...          131
            fwd                 88.4   141.1   60.3  ...           61
            rwd                 94.5   171.2   65.5  ...          152
sedan       4wd                 99.4   176.6   66.4  ...          136
            fwd                 99.8   176.6   66.2  ...          109
            rwd                101.2   176.8   64.8  ...          108
wagon       4wd                 96.9   173.6   65.4  ...          108
            fwd                105.8   192.7   71.4  ...          136
            rwd                110.0   190.9   70.3  ...          183

                          fuel-system  bore stroke  compression-ratio  \
body-style  drive-wheels
convertible fwd                  mpfi  3.19    3.4                8.5
            rwd                  mpfi  3.47   2.68                9.0
hardtop     fwd                  2bbl  3.15   3.29                9.4
            rwd                   idi  3.58   3.64               21.5
hatchback   4wd                  mpfi  3.13    3.4                7.0
            fwd                  2bbl  2.91   3.03                9.5
            rwd                  mpfi  2.68   3.47                9.0
sedan       4wd                  mpfi  3.19    3.4                8.0
            fwd                  mpfi  3.19    3.4               10.0
            rwd                  mpfi   3.5    2.8                8.8
wagon       4wd                  2bbl  3.62   2.64                9.0
            fwd                  mpfi  3.19    3.4                8.5
            rwd                   idi  3.58   3.64               21.5

                         horsepower peak-rpm city-mpg  highway-mpg  price
body-style  drive-wheels
convertible fwd                  90     5500       24           29  11595
            rwd                 111     5000       21           27  13495
hardtop     fwd                  69     5200       31           37   8249
            rwd                 123     4350       22           25  28176
hatchback   4wd                 160     5500       16           22      ?
            fwd                  48     5100       47           53   5151
            rwd                 154     5000       19           26  16500
sedan       4wd                 115     5500       18           22  17450
            fwd                 102     5500       24           30  13950
            rwd                 101     5800       23           29  16430
wagon       4wd                  82     4800       23           29   8013
            fwd                 110     5500       19           25  18920
            rwd                 123     4350       22           25  28248

[13 rows x 24 columns]

In [ ]:
df1 = pd.merge(left1, right1, left_on = 'key', right_index = True)
df1

In [ ]:
df1 = pd.merge(left1, right1, left_on = 'key', right_index = True, how = 'outer')
df1

### 18. Concatenate() / Concat()

In [130]:
new_data = df.filter(['length', 'width', 'height', 'curb-weight', 'price'], axis = 1)
new_data

     length  width  height  curb-weight  price
0     168.8   64.1    48.8         2548  13495
1     168.8   64.1    48.8         2548  16500
2     171.2   65.5    52.4         2823  16500
3     176.6   66.2    54.3         2337  13950
4     176.6   66.4    54.3         2824  17450
..      ...    ...     ...          ...    ...
200   188.8   68.9    55.5         2952  16845
201   188.8   68.8    55.5         3049  19045
202   188.8   68.9    55.5         3012  21485
203   188.8   68.9    55.5         3217  22470
204   188.8   68.9    55.5         3062  22625

[205 rows x 5 columns]

### 19. aggregate()

In [131]:
new_data.agg("mean", axis = "rows")

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\1054710387.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_data.agg("mean", axis = "rows")

length          174.049268
width            65.907805
height           53.724878
curb-weight    2555.565854
dtype: float64

In [132]:
new_data.mean(axis = 0)

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\413291966.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_data.mean(axis = 0)

length          174.049268
width            65.907805
height           53.724878
curb-weight    2555.565854
dtype: float64

In [133]:
new_data.mean(axis = 1)

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\2540280580.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  new_data.mean(axis = 1)

0      707.425
1      707.425
2      778.025
3      658.525
4      780.325
        ...
200    816.300
201    840.525
202    831.300
203    882.550
204    843.800
Length: 205, dtype: float64

In [134]:
new_data.describe()

           length       width      height  curb-weight
count  205.000000  205.000000  205.000000   205.000000
mean   174.049268   65.907805   53.724878  2555.565854
std     12.337289    2.145204    2.443522   520.680204
min    141.100000   60.300000   47.800000  1488.000000
25%    166.300000   64.100000   52.000000  2145.000000
50%    173.200000   65.500000   54.100000  2414.000000
75%    183.100000   66.900000   55.500000  2935.000000
max    208.100000   72.300000   59.800000  4066.000000

In [135]:
df['price'].str.isnumeric().value_counts()

True     201
False      4
Name: price, dtype: int64

In [136]:
df['price'].loc[df['price'].str.isnumeric() == False]

9      ?
44     ?
45     ?
129    ?
Name: price, dtype: object

In [137]:
price = df['price'].loc[df['price'] != '?']

In [138]:
price

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 201, dtype: object

In [141]:
pmean = price.astype(str).astype(int).mean()
price = df['price'].replace('?',pmean).astype(int)

In [147]:
pmean = price.astype(str).astype(int).mean()
price = df['price'].replace('?',pmean).astype(int)
df.groupby(['body-style','drive-wheels']).agg({'height': min, 'length': max, 'price': 'mean'})

TypeError: Could not convert ?7603 to numeric

In [ ]:
df['price'].transform(lambda x: x + x/10)
df.loc[:, 'price']

- 데이터 로드

##### 2. 결측치 열별로 파악

In [154]:
df_flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

##### 3. 결측치 평균값으로 대체

https://rfriend.tistory.com/542

In [158]:
df_flights.fillna(df_flights.mean())  # 문자열은 NA로 replace

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\3984528827.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_flights.fillna(df_flights.mean())

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [201]:
df_flights.isnull().sum()

MONTH           0
DAY             0
WEEKDAY         0
AIRLINE         0
ORG_AIR         0
DEST_AIR        0
SCHED_DEP       0
DEP_DELAY     833
AIR_TIME     1018
DIST            0
SCHED_ARR       0
ARR_DELAY    1018
DIVERTED        0
CANCELLED       0
dtype: int64

In [221]:
df_flights.fillna(df_flights.mean()['DEP_DELAY'])

C:\Users\Conet\AppData\Local\Temp\ipykernel_15664\1576742812.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_flights.fillna(df_flights.mean()['DEP_DELAY'])

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58487,12,31,4,AA,SFO,DFW,515,5.0,166.0,1464,1045,-19.0,0,0
58488,12,31,4,F9,LAS,SFO,1910,13.0,71.0,414,2050,4.0,0,0
58489,12,31,4,OO,SFO,SBA,1846,-6.0,46.0,262,1956,-5.0,0,0
58490,12,31,4,WN,MSP,ATL,525,39.0,124.0,907,855,34.0,0,0
58491,12,31,4,OO,SFO,BOI,859,5.0,73.0,522,1146,-1.0,0,0

In [ ]:
df_flights.fillna(df_flights.mean([['DEP_DELAY', 'AIR_TIME', 'ARR_DELAY']]))  # 문자열은 NA로 replace

##### 4. 항공사별 값들의 평균

In [180]:
air_df = df_flights.groupby('AIRLINE').mean()['DEP_DELAY']
air_df

AIRLINE
AA    11.274057
AS     1.808594
B6    14.287823
DL     7.242450
EV     9.092625
F9    14.310398
HA     2.571429
MQ    11.094323
NK    19.514401
OO     9.662279
UA    16.210485
US     4.361355
VX     8.918946
WN    12.639366
Name: DEP_DELAY, dtype: float64

##### 5. 피벗테이블 이용

In [181]:
new_df = pd.pivot_table(df_flights, values='SCHED_DEP', index = ['AIRLINE','ORG_AIR'])
new_df

                   SCHED_DEP
AIRLINE ORG_AIR
AA      ATL      1248.725322
        DEN      1186.324201
        DFW      1415.676485
        IAH      1244.454082
        LAS      1151.417112
...                      ...
WN      LAS      1363.037912
        LAX      1332.555066
        MSP      1242.953586
        PHX      1349.495360
        SFO      1311.191011

[114 rows x 1 columns]

-- 또는

In [170]:
pd.pivot_table(df_flights, index = ('AIRLINE', 'ORG_AIR'), values = 'SCHED_DEP', aggfunc = 'mean')

                   SCHED_DEP
AIRLINE ORG_AIR
AA      ATL      1248.725322
        DEN      1186.324201
        DFW      1415.676485
        IAH      1244.454082
        LAS      1151.417112
...                      ...
WN      LAS      1363.037912
        LAX      1332.555066
        MSP      1242.953586
        PHX      1349.495360
        SFO      1311.191011

[114 rows x 1 columns]

##### 6. 엑셀로 저장

In [190]:
with pd.ExcelWriter('test_excel.xlsx') as writer:
    air_df.to_excel(writer, sheet_name = 'sheet1')
    new_df.to_excel(writer, sheet_name = 'sheet2')

----

### pandas crosstab

In [ ]:
pd.crosstab(df['make'], df['body-style'], values = df['curb-weight'], aggfunc = 'mean').round(0)

In [202]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [203]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [204]:
pd.concat([df1,df2,df3], axis = 1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

### Example Dataframes

In [205]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [206]:
left

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [207]:
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

### Merge

In [208]:
pd.merge(left, right, how = 'inner', on = 'key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [210]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [211]:
pd.merge(left, right, on = ['key1', 'key2'])

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [212]:
pd.merge(left, right, how = 'outer', on = ['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [213]:
pd.merge(left, right, how = 'right', on = ['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left, right, how = 'left', on = ['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

### Joining

In [215]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2']
                    , 'B': ['B0', 'B1', 'B2']}, 
                    index = ['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C1', 'C2']
                    , 'D': ['D0', 'D1', 'D2']}, 
                    index = ['K0', 'K2', 'K3'])

In [216]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1

In [217]:
left.join(right, how = 'outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

https://pandas.pydata.org/docs/user_guide/merging.html

https://notebook.community/iannesbitt/ml_bootcamp/Python-for-Data-Analysis/Pandas/Merging%2C%20Joining%2C%20and%20Concatenating%20

In [ ]:
df.rename(columns = {'name': '이름'})

In [ ]:
df.rename({'name': '이름'}, axiss = 1)