- 튜플의 함수 사용

튜플은 변경이 불가능하므로 자료를 조작하는 메소드 사용이 불가능함

count(x), index(x)

In [1]:
t = (10, 20, 30, 20, 20, 10, 50)

In [3]:
t.count(10)  # 튜플에 포함된 원소 10의 갯수

2

In [5]:
t.index(20)  # 튜플에 포함된 원소 20의 위치 (튜플도 인덱스는 0부터 시작함)

1

문제 1

In [6]:
a = (3,)
type(a)

tuple

문제 2

In [7]:
a = (1, 2, 3)
a[1] = 4  # tuple은 인덱싱을 통해 수정 불가능함

TypeError: 'tuple' object does not support item assignment

문제 3

In [8]:
a + (4,)

(1, 2, 3, 4)

- 딕셔너리와 집합

In [9]:
b = {'name' : 'R Friend',
    'region': 'Seoul, Korea',
    'phone': '02-1234-5678'}
b

{'name': 'R Friend', 'region': 'Seoul, Korea', 'phone': '02-1234-5678'}

In [10]:
type(b)

dict

In [11]:
person = {'이름': '홍길동', '나이': 26, '몸무게': 82}
person['이름']

'홍길동'

In [12]:
person[0]

KeyError: 0

In [13]:
person[26]

KeyError: 26

- 기존의 값 수정

In [14]:
person['이름'] = '박혁거세'

In [15]:
person

{'이름': '박혁거세', '나이': 26, '몸무게': 82}

- 딕셔너리 삽입과 삭제

In [16]:
person['직업'] = '데이터분석가'
person

{'이름': '박혁거세', '나이': 26, '몸무게': 82, '직업': '데이터분석가'}

In [17]:
del person['나이']

In [20]:
a = {1: 'a'}
a[2] = 'b'  # 새로운 값 추가

In [19]:
a

{1: 'a', 2: 'b'}

In [21]:
a['name'] = 'payton'
a

{1: 'a', 2: 'b', 'name': 'payton'}

In [22]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'payton', 3: [1, 2, 3]}

- 특정 아이템을 지우려면, 키로 접근해서 제거해주어야 함

In [23]:
del a[1]

In [24]:
a

{2: 'b', 'name': 'payton', 3: [1, 2, 3]}

In [25]:
grade = {'pay': 20}

In [26]:
grade['pay']

20

In [29]:
del grade['pay']

In [30]:
grade

{}

- 키를 중복되게 사용하면 안되고, 키에는 변경이 불가능해야 하므로 키에는 리스트 데이터가 오면 안됨

In [31]:
a = {[1, 2]: 'value'}

TypeError: unhashable type: 'list'

- key 리스트 만들기

In [32]:
a = {'name': 'pay',
    'phone': '010-1234-5678',
    'birth': '1988-01-01'}

In [34]:
a.keys()  # 객체 정보만 반환해주는 것

dict_keys(['name', 'phone', 'birth'])

In [35]:
ㅁ = {1: 'j',
    (2,): 'heaven'}

In [36]:
ㅁ.keys()

dict_keys([1, (2,)])

- 리스트로 데이터 타입 변환

In [37]:
list(ㅁ.keys())

[1, (2,)]

In [38]:
ㅁ1 = list(ㅁ.keys())
ㅁ1

[1, (2,)]

In [39]:
ㅁ1[1]

(2,)

- for문으로 값들 출력

In [43]:
for k in ㅁ.keys():
    print(type(k), k)

<class 'int'> 1
<class 'tuple'> (2,)

In [47]:
for k in ㅁ.keys():
    print(k)

1
(2,)

In [42]:
for i in list(ㅁ.keys()):
    print(type(i), i)

<class 'int'> 1
<class 'tuple'> (2,)

In [48]:
for i in list(ㅁ.keys()):
    print(i)

1
(2,)

- keys 얻기

In [46]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

- values 얻기

In [45]:
a.values()

dict_values(['pay', '010-1234-5678', '1988-01-01'])

- 쌍으로 얻기

In [44]:
a.items()

dict_items([('name', 'pay'), ('phone', '010-1234-5678'), ('birth', '1988-01-01')])

In [49]:
a1 = {1: 'j'
     , (2,): 'heel'}

In [50]:
a1.items()

dict_items([(1, 'j'), ((2,), 'heel')])

In [51]:
print(a1.items())

dict_items([(1, 'j'), ((2,), 'heel')])

In [54]:
for i, j in a.items():  # 튜플 형식으로 키와 값을 출력
    print(i, j)

name pay
phone 010-1234-5678
birth 1988-01-01

In [55]:
for i, j in a1.items():
    print(i, j)

1 j
(2,) heel

In [53]:
for i, j in ㅁ.items():
    print(i, j)

1 j
(2,) heaven

- key: value 쌍에서 각 값을 제거하기 (clear)

In [59]:
a2 = {}  # 딕셔너리 형태로 변수 만들기
a3 = dict()  # 딕셔너리 형태로 변수 만들기

In [57]:
a2

{}

In [58]:
a3

{}

In [60]:
print(a2)

{}

In [61]:
a2['key'] = 'value'

In [62]:
a2

{'key': 'value'}

In [63]:
a3['key'] = ['value']
a3

{'key': ['value']}

- key로 value 얻기 (get)

In [64]:
a

{'name': 'pay', 'phone': '010-1234-5678', 'birth': '1988-01-01'}

In [65]:
a.get('name')

'pay'

In [66]:
a['name']

'pay'

대응되는 key없으면 에러발생

In [67]:
a['key1']

KeyError: 'key1'

get()의 경우에는 에러를 반환해주지 않음

In [68]:
a.get('key1')

get()의 경우에는 에러를 반환해주지 않으므로, </br>
get('', '') 형태로 작성해서 해당 키가 없을 때 반환하는 에러메시지를 함께 입력해주어야 함

In [69]:
a.get('key1', '그런 키는 없습니다.')

'그런 키는 없습니다.'

- 해당 key가 딕셔너리 안에 있는지 살펴보기

In [70]:
'name' in a

True

In [71]:
'email' in a

False

- 딕셔너리 데이터에 데이터 추가하는 방법 </br>
    update() & setdefault()

In [72]:
a.update({"five": "다섯"})

In [73]:
a

{'name': 'pay', 'phone': '010-1234-5678', 'birth': '1988-01-01', 'five': '다섯'}

In [74]:
a.setdefault('key', 'value')

'value'

In [75]:
a

{'name': 'pay',
 'phone': '010-1234-5678',
 'birth': '1988-01-01',
 'five': '다섯',
 'key': 'value'}

In [78]:
a.update(five='five')

In [79]:
a

{'name': 'pay',
 'phone': '010-1234-5678',
 'birth': '1988-01-01',
 'five': 'five',
 'key': 'value'}

- 딕셔너리 값 삭제

del()

In [80]:
del a['five']

In [81]:
a

{'name': 'pay',
 'phone': '010-1234-5678',
 'birth': '1988-01-01',
 'key': 'value'}

pop()

In [82]:
a.pop('key')

'value'

In [83]:
a

{'name': 'pay', 'phone': '010-1234-5678', 'birth': '1988-01-01'}

popitem()

In [84]:
a.popitem('name')

TypeError: dict.popitem() takes no arguments (1 given)

In [87]:
a.popitem()  # 맨 끝에 있는 키와 밸류 삭제시킴

('phone', '010-1234-5678')

In [86]:
a

{'name': 'pay', 'phone': '010-1234-5678'}

clear()

In [88]:
a.clear()

In [89]:
a

{}

- 딕셔너리에 있는 값들 조사하기

In [90]:
a = {'one': '하나'
    , 'two': '둘'
    , 'three': '셋'}

In [93]:
a['one']

'하나'

In [95]:
a.pop('one')

'하나'

In [96]:
a['four'] = ['one', 'two']

In [97]:
a

{'two': '둘', 'three': '셋', 'four': ['one', 'two']}

In [100]:
a.pop(a[3])

KeyError: 3

In [ ]:
a.items()

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
'a' in a

In [ ]:
'a' not in a

- 리스트와 딕셔너리 비교하기

문제 1

In [101]:
a = dict()

In [102]:
a

{}

리스트는 수정이 가능한 것인데, 튜플은 수정이 불가능한 구조이므로 에러 발생

In [103]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

튜플 형식으로 대입했기 때문에 괜찮음

In [104]:
a[('a',)] = 'python'

In [105]:
a

{('a',): 'python'}

문제 2

In [106]:
a = {'A': 90, 'B': 80, 'C': 70}

In [107]:
a

{'A': 90, 'B': 80, 'C': 70}

In [108]:
a.pop('B')

80

In [109]:
a

{'A': 90, 'C': 70}

문제 3

In [111]:
a['B']

KeyError: 'B'

In [113]:
a.get('B', '그런 키값은 없습니다.')

'그런 키값은 없습니다.'

문제 4: 딕셔너리 안에 있는 최소값 출력

In [118]:
a['C']

70

In [119]:
a.values()

dict_values([90, 70])

In [121]:
min(a.values())

70

In [122]:
min(list(a.values()))

70

문제 5

In [123]:
a.items()

dict_items([('A', 90), ('C', 70)])

In [124]:
list(a.items())

[('A', 90), ('C', 70)]

In [125]:
len(a.keys())

2

- 집합형 (set): 딕셔너리와 형태가 유사하지만 key와 value 형태로 존재하지 않는다는 것이 집합의 특징 </br>
    중복을 허용하지 않음 </br>
    순서가 없음 </br>

In [126]:
s1 = set([1,2,3]); s1

{1, 2, 3}

In [127]:
s2 = set("Hello"); s2

{'H', 'e', 'l', 'o'}

In [128]:
s2[0]

TypeError: 'set' object is not subscriptable

In [129]:
s2['H']

TypeError: 'set' object is not subscriptable

In [130]:
s2('H')

TypeError: 'set' object is not callable

In [131]:
s2{'H'}

SyntaxError: invalid syntax (3772670766.py, line 1)

set() 형태의 변수에서 특정 값을 가져오고싶은 경우에는 리스트로 데이터 형태를 변환시켜주고 사용

리스트의 값에서 중복을 제거해주고 싶은 경우에는 리스트 데이터를 set (집합) 형태로 데이터의 형태를 변환시켜주고 사용

- 집합 (set)의 메소드

add()

In [132]:
s2.add(2)

In [133]:
s2

{2, 'H', 'e', 'l', 'o'}

집합의 형태로 해당 변수를 만들어주기 위해서는 set()로 변수 할당

In [134]:
s3 = set()

In [135]:
type(s3)

set

In [136]:
s4 = set([1, 2, 3, 4, 5, 6])
s5 = set([4, 5, 6, 7, 8, 9])

In [137]:
s4 & s5

{4, 5, 6}

In [138]:
s4.intersection(s5)

{4, 5, 6}

In [139]:
s4|s5

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [141]:
s4.union(s5)  # 중복되는 값 삭제하고 출력

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [143]:
s4.difference(s5)  # 차집합 출력

{1, 2, 3}

In [145]:
s4.discard(6)

In [146]:
s4

{1, 2, 3, 4, 5}

In [147]:
s4.symmetric_difference(s5)

{1, 2, 3, 6, 7, 8, 9}

In [148]:
s4.issubset(s5)

False

In [149]:
s4.issuperset(s5)

False

In [150]:
s4.isdisjoint(s5)

False

- 집합 자료형 관련 함수들

In [151]:
s = {100, 100, 200, 200, 300, 400}

In [152]:
s

{100, 200, 300, 400}

In [153]:
s.add(500)

In [154]:
s

{100, 200, 300, 400, 500}

In [156]:
type(s)

set

In [157]:
s = {}

In [158]:
type(s)

dict

In [159]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [160]:
set(a)

{1, 2, 3, 4, 5}

In [161]:
list(set(a))

[1, 2, 3, 4, 5]

In [162]:
s1.intersection(s2)

{2}

In [163]:
s6 = set()

In [164]:
type(s6)

set

문제 1

In [165]:
a = {'a', 'b', 'c'}

add()와 update()의 차이점: .add()는 하나의 값만 추가 가능함 & 맨 앞에 추가가능함. update()는 여러개 값 추가가능함 & 맨 뒤에 추가가능함.

In [170]:
a.update('d','e','f')

In [171]:
a

{'a', 'b', 'c', 'd', 'def', 'e', 'f'}

자료형의 참과 거짓

In [172]:
1 != 1

False

- 변수

변수는 메모리 주소를 가리키는 포인터

In [173]:
a = 3

In [174]:
id(3)

2099748890992

In [175]:
b = a

In [176]:
a is b

True

In [177]:
id(b)

2099748890992

In [178]:
id(a) == id(b)

True

In [179]:
a = [1, 2, 3]

In [180]:
id(a)

2099864593536

In [181]:
b = a

In [182]:
id(b)

2099864593536

In [183]:
a is b

True

리스트로 값이 구성되어있을때는 이를 참조한 변수도 모두 변경됨

리스트에서 =는 값을 넣는 것이 아니라, 주소를 공유한다는 뜻

In [184]:
a[0] = 4

In [185]:
a

[4, 2, 3]

In [186]:
id(a)

2099864593536

In [187]:
id(a) == id(b)

True

In [188]:
a == b

True

In [189]:
b

[4, 2, 3]

- 원본과는 별개로 해당 값을 복사하고 싶은 경우에는

1. Slice 리스트 복사의 경우에는 주소 복사가 아닌 값 복사

In [190]:
b = a[:]
b

[4, 2, 3]

In [191]:
a[0] = 1
a

[1, 2, 3]

In [192]:
b

[4, 2, 3]

In [193]:
a is b

False

2. 리스트 값 복사 (from copy import copy 활용해서)

In [194]:
from copy import copy
b1 = copy(a)

In [195]:
b1

[1, 2, 3]

In [196]:
a[0] = 4
a

[4, 2, 3]

In [197]:
a == b1

False

3. 리스트 안에 리스트형 데이터 복사하고자 할 때는 원본과 사본이 독립적으로 되지 않고, 영향을 미치게 됨 (shallow copy) </br>
    슬라이싱해서 복사했다고 해도 관계없이 영향을 미치게 됨

In [198]:
s = [1, 2, 3, [4, 5, 6]]
c = s[:]

In [199]:
c[3][0] = "c"

In [200]:
c

[1, 2, 3, ['c', 5, 6]]

In [201]:
s

[1, 2, 3, ['c', 5, 6]]

4. 원본에 영향을 미치지 않고 copy 하는 경우에는 deepcopy 사용

In [202]:
import copy
s = [1, 2, 3, [4, 5, 6]]
c = copy.deepcopy(s)

In [203]:
s

[1, 2, 3, [4, 5, 6]]

In [204]:
c

[1, 2, 3, [4, 5, 6]]

In [205]:
s[3] = [1]
s

[1, 2, 3, [1]]

In [206]:
c

[1, 2, 3, [4, 5, 6]]

s에 할당된 주소와 c에 할당된 주소가 같은지?

In [208]:
s is c

False

In [209]:
s is not c

True

In [210]:
a = [1, 2, 3]
b = [1, 2, 3]

In [211]:
a is b

False

In [212]:
a = b = [1, 2, 3]
a is b

True

슬라이스 복사는 원본과 사본이 별개임

In [213]:
a = [1, 2, 3]
b = a[:]

In [214]:
a is b

False

In [215]:
a[1] = 4
a

[1, 4, 3]

In [216]:
b

[1, 2, 3]

'+' 사용하면, 메모리 주소가 변경됨

In [220]:
a = [1, 2, 3]
id(a)

2099864592448

In [221]:
a = a + [4, 5]

In [222]:
id(a)

2099863604672

.extend()사용하면, 메모리 주소가 동일함

In [223]:
a1 = [1, 2, 3]
id(a1)

2099863602688

In [224]:
a1.extend([4, 5])
id(a1)

2099863602688

In [229]:
a = [1, [2, 3], 4]

In [230]:
b = a[:]

In [231]:
a[1][0] = 5

In [232]:
a

[1, [5, 3], 4]

In [234]:
b

[1, [5, 3], 4]

In [233]:
a is b

False

# 제어문: 반복문과 if문 (조건문)

control 가능

조건문 (분기문): 조건에 따라 실행

분기문: </br>
    1. 한가지 조건 분기문: if, else </br>
    2. 두가지 이상 조건 분기문: if, elif, else </br>
    3. if else 분기문 안에 if else문: nested if statements </br>

while문 사용 시 주의 (break 사용 필수)

반복문: </br>
    1. 조건이 참인 동안 반복: while </br>
    2. 순서열의 처음부터 끝까지 반복: for </br>
    3. 조건이 참이면 반복문 계속: countinue </br>
    4. 조건이 참이면 반복문 중단: break </br>

if 조건문 예시>

In [237]:
age = int(input("귀하의 연령은 몇 세이신가요?"))

귀하의 연령은 몇 세이신가요? 22

In [239]:
if age < 20 :
    print("청소년 할인")
else:
    print("청소년 할인이 불가능합니다")

청소년 할인이 불가능합니다

In [242]:
walk_count = int(input("귀하가 오늘 걸은 총 걸음수는 몇인가요?")) 

if walk_count >= 10000:
    print("목표 달성")
else:
    print("목표 달성 못함")

귀하가 오늘 걸은 총 걸음수는 몇인가요? 10000

목표 달성

참일때, 거짓일때에 대해 결과값 출력 안됨

In [240]:
num_a=100; num_b=200
if num_a == num_b:
    print("동일합니다")
    print("수고하셨습니다")

참일때, 거짓일때에 대해 결과값 출력됨

In [241]:
if num_a == num_b:
    print("동일합니다")
print("수고하셨습니다")

수고하셨습니다

문제 1

In [248]:
n = int(input("정수를 입력하세요 : "))
print("n = ",n)
if n % 2 == 0:
    print(n, "은(는) 짝수입니다.")
else:
    print(n, "은(는) 짝수가 아닙니다.")

정수를 입력하세요 :  50

n =  50
50 은(는) 짝수입니다.

In [252]:
n = int(input("정수를 입력하세요 : "))
print("n =", n)
if n % 2 == 0:
    print("짝수입니다.")

정수를 입력하세요 :  50

n = 50
짝수입니다.

- 파이썬의 들여쓰기

변수에 할당된 값이 조건문에 부합하는 경우

들여쓰기된 블록 전체가 수행됨

In [253]:
age = 18
if age < 20:
    print('나이', age)
    print('청소년 환영')
    print('청소년 할인')

나이 18
청소년 환영
청소년 할인

변수에 할당된 값이 조건문에 부합하지 않는 경우

들여쓰기된 블록 전체가 수행되지 않음

In [254]:
age = 24
if age < 20:
    print('나이', age)
    print('청소년 환영')
    print('청소년 할인')

In [ ]:
a = 10
b = 14
if (a % 2 == 0) and (b % 2 == 0):

문제 1

In [256]:
num = 2
if num >= 1 and num <= 10:
    print(True)

True

문제 2

In [258]:
age = 10
if age > 10 and age < 19:
    print("청소년입니다")
else:
    print("청소년이 아닙니다.")

청소년이 아닙니다.

- range() 함수

In [259]:
range()

TypeError: range expected at least 1 argument, got 0

In [260]:
range(10)

range(0, 10)

In [261]:
print(range(10))

range(0, 10)

- range()에서 음수값으로 gap을 두는 경우, 마지막 값 + 1으로 뱉어냄

In [264]:
z = range(10,1,-2)

In [265]:
z

range(10, 1, -2)

- if(), elif(), else()

문제 1

In [270]:
score = int(input("점수를 입력하세요 : "))
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 50:
    grade = 'E'
else:
    grade = 'F'
print("당신의 등급은 : ", grade)

점수를 입력하세요 :  100

당신의 등급은 :  A

문제 2

In [272]:
speed = int(input("자동차의 속도를 입력하세요(단위 : km/h ): "))
if speed >= 100:
    print('고속')
elif speed >= 60:
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h ):  13

저속

In [273]:
speed = int(input("자동차의 속도를 입력하세요(단위 : km/h ): "))
if speed >= 100:
    print('고속')
elif speed >= 60:
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h ):  130

고속

문제 3

In [275]:
money = 2000
card = False
if money >= 3000 or card:  # money가 3000 이상이거나 카드가 True면
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

문제 4

In [276]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

문제 5

In [278]:
money = 2000
if 'money' in pocket:
    if money <= 500:
        pass  # pass에 해당하는 경우에는, 아무런 값도 반환해주지 않음
    else:
        print("버스를 타고가라")
elif 'card' in pocket:
    print("택시를 타고가라")
else:
    print("걸어가라")

버스를 타고가라

In [281]:
score = int(input("점수를 입력하세요 : "))
if score >= 60:
    message = "success"
else:
    message = "failure"

점수를 입력하세요 :  60

TypeError: 'message' is an invalid keyword argument for print()

In [286]:
message = "success" if score >= 60 else "failure"

문제 1

In [283]:
money = 5000
card = False
if money >= 4000 or card:
    print("홍길동씨는 택시를 탈 수 있습니다")
else:
    print("홍길동씨는 택시를 탈 수 없습니다")

홍길동씨는 택시를 탈 수 있습니다

문제 2

In [284]:
lucky_list = [1, 9, 23, 46]

In [285]:
if 23 in lucky_list:
    print("야호")
else:
    print("꽝")

야호

문제 3

In [287]:
age1 = 30
height = 180
if age1 < 30 and height >= 175:
    print("YES")
else:
    print("NO")

NO

딕셔너리 형태에서 가져와서 계산

In [289]:
age2 = {'나이': 30, '키': 180}

In [290]:
if age2['나이'] < 30 and age2['키'] >= 175:
    print("YES")
else:
    print("NO")

NO

문자열 형태에서 가져와서 계산 (슬라이싱)

In [307]:
if int(age3[3:5]) < 30 and int(age3[8:11]) >= 175:
    print("YES")
else:
    print("NO")

NO

문제 4

In [288]:
a = "Life is too short, you need python"
if 'wife' in a:
    print('wife')
elif 'python' in a and 'you' not in a:
    print('python')
elif 'shirt' not in a:
    print('shirt')
elif 'need' in a:
    print('need')
else:
    print('none')

shirt

- while <조건문> 무한반복 빠질 수 있으니 주의; 가능한 한 for문으로 코드 작성하기

In [309]:
i = 0
while i < 5:
    print('Welcome to Python, Everyone!')
    i += 1

Welcome to Python, Everyone!
Welcome to Python, Everyone!
Welcome to Python, Everyone!
Welcome to Python, Everyone!
Welcome to Python, Everyone!

In [310]:
i = 0
while i < 10:
    print("Welcome Back to Korea!!")
    i += 1

Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!
Welcome Back to Korea!!

- while문: break 예시

In [312]:
st = 'Programming'

for ch in st:
    if ch in ['a', 'e', 'i', 'o', 'u']:
        break
    print(ch)
print("The end")

P
r
The end

In [314]:
st1 = 'Continue'

for ch in st1:
    if ch in ['a', 'b', 'c', 'e']:
        break
    print(ch)
print("The End")

C
o
n
t
i
n
u
The End

-> while문에서 break, continue는 헷갈릴 수 있으므로 제한적으로 사용할 필요가 있음

- for문의 제어와 print()함수의 end 키워드 인자 사용하기

In [313]:
for i in range(5):
    print(i, end = 'rrr')

0rrr1rrr2rrr3rrr4rrr

- 사용자에게 사용하기 좋은 알고리즘

In [315]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [318]:
prompt = """
1. Add
2. Del
3. List
4. Quit

Enter number:"""
number = 0
while number != 4:
    print(prompt)
    number = int(input())

1. Add
2. Del
3. List
4. Quit

Enter number:

 1

1. Add
2. Del
3. List
4. Quit

Enter number:

 2

1. Add
2. Del
3. List
4. Quit

Enter number:

 1

1. Add
2. Del
3. List
4. Quit

Enter number:

 2

1. Add
2. Del
3. List
4. Quit

Enter number:

 4

In [321]:
coffee = 4
while True:  # while True는 무한반복이 나오는 조건문이므로 무조건 break 필요
    money = int(input("돈을 넣어주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if not coffee:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어주세요 40

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.

돈을 넣어주세요 50

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.

돈을 넣어주세요 60

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.

돈을 넣어주세요 50

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.

돈을 넣어주세요 60

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 4개 입니다.

돈을 넣어주세요 500

거스름돈 200를 주고 커피를 줍니다.

돈을 넣어주세요 200

돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 3개 입니다.

돈을 넣어주세요 300

커피를 줍니다.

돈을 넣어주세요 400

거스름돈 100를 주고 커피를 줍니다.

돈을 넣어주세요 300

커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [322]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0: continue
    print(a)

1
3
5
7
9

문제 1: 1부터 100까지의 자연수의 합 구하기

for문

In [328]:
a = 1
for a in range(1,100):
    a += 1
    print(a)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

while문

In [333]:
a = 0
sum = 0
while True:
    a += 1
    sum += a
    if a >= 100:
        break
print(sum)

5050

In [329]:
n = 0
sum = 0
while True:
    n+=1
    sum+=n
    if n>= 100:
        break
print(sum)

5050

문제 2

In [334]:
n = 0
sum = 0
while True:
    n+=1
    if(n%3==0):
        sum+=n
    if n>=100:
        break
print(sum)

1683

문제 3

In [335]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

1) for문으로 푸는 방법

for 변수 in 리스트 (또는 튜플, 문자열): </br>
    수행할 문장 1 </br>
    수행할 문장 2 </br>

In [341]:
num = [11, 22, 33, 44, 55, 66]

for n in num:
    print(n, end = '')

112233445566

In [342]:
num = [11, 22, 33, 44, 55, 66]

for n in num:
    print(n)

11
22
33
44
55
66

In [345]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]

In [343]:
sum = 0
for i in A:
    if i >= 50:
        sum += i
print(sum)

481

In [ ]:
sum(A)

- 아래의 세 개는 무슨 차이인걸까

In [349]:
sum = 0
for i in A:
    if i >= 50:
        sum += i
print(sum)

481

In [347]:
for x in A:
    if x >= 50:
        sum += 1
print(sum)

487

In [348]:
sum = 0
for x in A:
    if x >= 50:
        sum += 1
print(sum)

6

2) While문으로 푸는 방법

In [344]:
i = 0
sum = 0
while True:
    if A[i] >= 50:
        sum += A[i]
    i += 1
    if i == 10:
        break
print(sum)

481

range()를 값으로 반환하려면 list로 형태를 바꿔주어야 함

In [350]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

In [353]:
for i in range(2, 10):
    for j in range(1, 10):
        print('{}*{} = {:2d}'.format(i, j, i*j), end = ' ')
    print()

2*1 =  2 2*2 =  4 2*3 =  6 2*4 =  8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18
3*1 =  3 3*2 =  6 3*3 =  9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27
4*1 =  4 4*2 =  8 4*3 = 12 4*4 = 16 4*5 = 20 4*6 = 24 4*7 = 28 4*8 = 32 4*9 = 36
5*1 =  5 5*2 = 10 5*3 = 15 5*4 = 20 5*5 = 25 5*6 = 30 5*7 = 35 5*8 = 40 5*9 = 45
6*1 =  6 6*2 = 12 6*3 = 18 6*4 = 24 6*5 = 30 6*6 = 36 6*7 = 42 6*8 = 48 6*9 = 54
7*1 =  7 7*2 = 14 7*3 = 21 7*4 = 28 7*5 = 35 7*6 = 42 7*7 = 49 7*8 = 56 7*9 = 63
8*1 =  8 8*2 = 16 8*3 = 24 8*4 = 32 8*5 = 40 8*6 = 48 8*7 = 56 8*8 = 64 8*9 = 72
9*1 =  9 9*2 = 18 9*3 = 27 9*4 = 36 9*5 = 45 9*6 = 54 9*7 = 63 9*8 = 72 9*9 = 81

문제 1

In [355]:
a1 = range(2, 102, 2)
list(a1)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

문제 2

In [359]:
a2 = range(1,100,2)
list(a2)

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [360]:
list(range(10,0,-3))

[10, 7, 4, 1]

문제 1

In [361]:
the_day = 1919, 3, 1

In [362]:
the_day

(1919, 3, 1)

In [364]:
year, month, day = the_day[0], the_day[1], the_day[2]

In [365]:
print("{}년 {}월 {}일은 삼일절입니다.".format(year,month,day))

1919년 3월 1일은 삼일절입니다.

In [366]:
print('Hello ' * 3)

Hello Hello Hello

In [367]:
print(('Hello',)*3)

('Hello', 'Hello', 'Hello')

In [368]:
def product_set(set1, set2):
    res = set()
    for i in set1:
        for j in set2:
            res = res | {(i, j)}
        return res
A = {1, 2}
B = {'A', 'B', 'C'}

In [369]:
AxB = product_set(A, B)

In [370]:
AxB

{(1, 'A'), (1, 'B'), (1, 'C')}

In [371]:
BxA = product_set(B, A)
AxA = product_set(A, A)
BxB = product_set(B, B)

In [372]:
BxA

{('B', 1), ('B', 2)}

In [373]:
AxA

{(1, 1), (1, 2)}

In [374]:
BxB

{('B', 'A'), ('B', 'B'), ('B', 'C')}

In [375]:
n_list = [10, 20, 30, 40, 50]

total = 1
for i in n_list:
    total *= i

print('리스트의 원소들 :', n_list)
print('리스트의 원소들의 곱 :', total)

리스트의 원소들 : [10, 20, 30, 40, 50]
리스트의 원소들의 곱 : 12000000

문제 1: max()를 사용하지 않고 가장 큰 값 구하기

In [378]:
n_list = [1, 4, 6, 10, 100, 50]
maxi = -9999

for i in n_list:
    if i > maxi:
        maxi = i

print('리스트의 원소들 : ',n_list)
print('리스트의 원소들 중 최댓값 : ',maxi)

# if n_list[0] < maxi:
#     maxi = n_

리스트의 원소들 :  [1, 4, 6, 10, 100, 50]
리스트의 원소들 중 최댓값 :  100

In [379]:
mini = 9999

for i in n_list:
    if i < mini:
        mini = i
print('리스트의 원소들 : ',n_list)
print('리스트의 원소들 중 최솟값 : ',mini)

리스트의 원소들 :  [1, 4, 6, 10, 100, 50]
리스트의 원소들 중 최솟값 :  1

문제 2

In [382]:
abc = [1,2,3,4,5]
i += 1

for i in abc:
    sum(i)
    , min(i)
    , max(i)
    if i > 5:
        break
print("합계는 {}입니다.".format(i))

TypeError: 'int' object is not iterable

In [383]:
s = input("5개의 수를 입력하세요:")
n_list = []

for n in s.split():
    n_list.append(int(n))

print("합:", sum(n_list))
print("평균:", sum(n_list)/len(n_list))
print("최댓값:", max(n_list))
print("최솟값:", min(n_list))

5개의 수를 입력하세요: 1 5 7 11 10

합: 34
평균: 6.8
최댓값: 11
최솟값: 1

In [385]:
ㄴ = 'Birthday'
ㄴ[1:-1]

'irthda'

In [386]:
ㄴ[::-1]  # 역수반환

'yadhtriB'

In [387]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opg']

In [396]:
min_len = len(s_list[0]);
min_s = s_list[0]

for s in s_list:
    l = len(s)
    if min_len > l:
        min_len = l
        min_s = s
        
print('가장 길이가 짧은 문자열: ', min_s)

가장 길이가 짧은 문자열:  abc

In [398]:
s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opg', 'opg']
new_s_list = []

for s in s_list:
    if s not in new_s_list:
        new_s_list.append(s)
    
print('s_list =', s_list)
print('new_s_list =', new_s_list)  # 중복값이 제거된 리스트

s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opg', 'opg']
new_s_list = ['abc', 'bcd', 'bcdefg', 'abba', 'cddc', 'opg']

In [388]:
a = {2, 3, 4, 2, 3}
a

{2, 3, 4}

In [389]:
a = {3, 2, 4}
b = {1, 2, 3}
a.union(b)

{1, 2, 3, 4}

In [390]:
a=[1, "하나", 2, "둘"]
b = a[:]
a is b

False

In [391]:
b={}

if b:

   print("ok")

else:

   print("nothing")

nothing

In [392]:
 list(range(6, -2, -2))

[6, 4, 2, 0]

In [393]:
list(range(3))

[0, 1, 2]

In [399]:
for i in range(-2,-10,-2):
    print(i, end = ' ')

-2 -4 -6 -8

In [400]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [401]:
marks = [90, 25, 33, 4, 59]
number = 0
for mark in marks:
    number = number + 1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 불합격입니다.
5번 학생은 불합격입니다.

In [403]:
marks = [90, 50, 70, 80, 40]
number = 0
for mark in marks:
    number += 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)  # 합격일 때만 출력

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
4번 학생 축하합니다. 합격입니다.

In [405]:
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % number)  # index_number을 넣어서 합격일때만 출력

0번 학생 축하합니다. 합격입니다.
2번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.

In [406]:
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end = " ")
        print(" ")

2
4
6
8
10
12
14
16
18
3
6
9
12
15
18
21
24
27
4
8
12
16
20
24
28
32
36
5
10
15
20
25
30
35
40
45
6
12
18
24
30
36
42
48
54
7
14
21
28
35
42
49
56
63
8
16
24
32
40
48
56
64
72
9
18
27
36
45
54
63
72
81

In [407]:
for i in range(2,10):
    for j in range(1, 10):
        print(i*j, end = " ")
    print(" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [408]:
for i in range(3):
    print("i =", i)
else:
    print("END")

i = 0
i = 1
i = 2
END

In [409]:
for j in range(3):
    if j == 2:
        break
    print("j =", j)
else:
    print("END")

j = 0
j = 1

In [411]:
list(range(5))

[0, 1, 2, 3, 4]

In [412]:
for i in range(5):
    if i == 3: break
    print(i)
print("break")

0
1
2
break

In [413]:
for i in range(5):
    if i == 3: continue
    print(i)
print("continue")

0
1
2
4
continue

In [414]:
i = 0
while i < 5:
    i += 1
    if i == 3: break
    print(i)
print("break")

1
2
break

In [415]:
i = 0
while i < 5:
    i += 1
    if i == 3: continue
    print(i)
print("continue")

1
2
4
5
continue