- while문 break continue

- enumerate(); index와 name 같이 출력

In [1]:
names = ['A', 'B', 'C']

for x, name in enumerate(names):
    print(x, name)

0 A
1 B
2 C

- zip(); 리스트에 들어간 순서쌍 별로 출력

In [50]:
scores = [80, 90, 70]

for i, j in zip(names, scores):
    print(i, j)

A 80
B 90
C 70

- for문; 다중 색인 반환

enumerate()와 zip() 함께 사용

In [3]:
data1 = ['Python', '0101', 'Yi', 'X']
data2 = ['Matlab', '0070', "Lee", "Y"]

In [4]:
for i, (datnum1, datnum2) in enumerate(zip(data1, data2)):
    print(i, datnum1, datnum2)

0 Python Matlab
1 0101 0070
2 Yi Lee
3 X Y

- for문 루프 제어변수의 익명화 (_ 사용)

In [9]:
for _ in range(10):
    print('Welcome to Python')

Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python
Welcome to Python

In [11]:
for x in range(10):
    print(x, 'Welcome')

0 Welcome
1 Welcome
2 Welcome
3 Welcome
4 Welcome
5 Welcome
6 Welcome
7 Welcome
8 Welcome
9 Welcome

- while문과 for문 비교; </br>
while문은 수행횟수는 정확히 모르지만, 수행의 조건이 명확할 때 더 적합 </br>
for문은 반복횟수가 명확한 경우에 더 적합 </br>

In [14]:
s = 0
i = 1
n = 1
while i <= n:
    s += i
    i += 1
print(i)

2

- 리스트 내포 (list comprehension)

In [16]:
a = [1, 3, 4, 5]
result = [num * 3 for num in a]
print(result)

[3, 9, 12, 15]

In [17]:
result1 = [number1 * 4 for number1 in a]
print(result1)

[4, 12, 16, 20]

리스트 내포의 일반적인 문법: [표현식 for 항목 in 반복가능객체 if 조건]

In [18]:
result2 = [number2 * 3 for number2 in a if number2 % 2 == 0]
print(result2)

[12]

In [19]:
result3 = [num1*num2 for num1 in range(2,10)
           for num2 in range(1,10)]

In [20]:
print(result3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

문제 1

In [21]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

문제 2

In [25]:
for i in range(1,1001) and if i % 5 == 0

SyntaxError: invalid syntax (1852477648.py, line 1)

In [36]:
sum1 = 0  # 구하려고 하는 값은 무조건 초기화시킴
for i in range(1,1001):
    if i % 5 == 0:
        sum1 += i
print(sum1)

100500

문제 3

In [28]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
num = A
sum = 0
sum += num
for num in A:
    print(sum)

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [37]:
sum2 = 0
for i in A:
    sum2 += i
average = sum2/len(A)
print(sum2)

790

문제 4

In [43]:
students = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [51]:
a_count = 0
b_count = 0
o_count = 0
ab_count = 0

for abo in students:
    if abo == 'A':
        a_count += 1
    elif abo == 'B':
        b_count += 1
    elif abo == 'O':
        o_count += 1
    else:
        ab_count += 1
print("A형을 가진 사람의 수: {}명, B형을 가진 사람의 수: {}명, O형을 가진 사람의 수: {}명, AB형을 가진 사람의 수: {}명".format(a_count, b_count, o_count, ab_count))

A형을 가진 사람의 수: 3명, B형을 가진 사람의 수: 3명, O형을 가진 사람의 수: 3명, AB형을 가진 사람의 수: 3명

### Q&A

In [40]:
A_count = 0
B_count = 0
O_count = 0
AB_count = 0
for abo in students:
    if i == 'A':
        A_count += 1
    elif i == 'B':
        B_count += 1
    elif i == 'O':
        O_count += 1
    else:
        AB_count += 1
print(abo, A_count, B_count, O_count, AB_count)

AB 0 0 0 12

In [46]:
A_count = 0
B_count = 0
O_count = 0
AB_count = 0
for abo in students:
    if abo == 'A':
        A_count += 1
    elif abo == 'B':
        B_count += 1
    elif abo == 'O':
        O_count += 1
    else:
        AB_count += 1
print("A형{0}, B형{1}, O형{2}, AB형{3}".format(A_count, B_count, O_count, AB_count))

A형3, B형3, O형3, AB형3

문제 5

In [33]:
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [34]:
print(result)

[2, 6, 10]

In [35]:
result = [n * 2 for n in numbers if n % 2 == 1]  # 맨 앞부분은 출력하고자 하는 내용 작성
print(result)

[2, 6, 10]

# 함수

내장함수(print())와 모듈 함수(math, random, 개발자가 개발해놓은 모듈인 Matplotlib, TensorFlow 등), 사용자 정의 함수(def()) 필요함

In [ ]:
def func_name(x1, x2, ..):  # 함수 정의를 위해서는 def 키워드 필요, 함수의 이름, 함수에서 사용할 매개변수(함수에 입력으로 전달된 값을 받는 변수) 또는 인수(함수를 호출할 때 전달하는 입력값)로 생략 가능
    code1                   # 함수를 정의한 이후에 함수에 전달해주는 실제 값을 인수/인자라고 일컫음
    code2  # 함수 코드 블럭은 반드시 들여쓰기 필요
    
    return n1[, n2, ..]  # 함수가 일을 수행한 후 그 결과를 반환하는 return문; 생략가능

지역변수 (함수 안에서 만들어진 변수)와 전역변수 (함수 밖에서 만들어진 변수)

In [74]:
def d_is_10():
    d = 10               # 지역변수
    print('d 값은 ', d, '입니다')

In [75]:
d_is_10()

d 값은  10 입니다

In [76]:
def e_is_10():
    global e            # 전역변수
    e = 10
    print('e 값은 ', e, '입니다')

In [78]:
e_is_10()

e 값은  10 입니다

In [79]:
e

10

기본 함수

In [52]:
def print_star():
    print('*********************')

print_star()

*********************

In [53]:
def print_under():
    print('____________________')

print_under()

____________________

In [ ]:
def func_name([x1, x2, ...]):
    code1
    code2
    ...
    return n1[, n2, ...]

In [54]:
def get_sum(a,b):
    result = a + b
    return result

get_sum(1,10)

11

In [56]:
def get_difference(a,b):
    result = a - b
    return result

print(get_difference(1,10))

-9

- 함수에서 여러 계산식의 값을 출력할 수 있음; return하는 형식이 튜플

In [57]:
def sum_and_mul(a,b):
    return a+b, a*b  # return은 한번만 작성하고, 이때 출력하고 싶은 계산식은 여러개 입력 가능

sum_and_mul(1,10)

(11, 10)

In [58]:
sum_and_mul(3,4)

(7, 12)

In [59]:
sum, mul = sum_and_mul(3,4)

In [60]:
sum

7

In [61]:
mul

12

In [62]:
def ab_test(a,b):
    return a*b, a%b, a/b, a+b

ab_test(495092,22)

(10892024, 4, 22504.18181818182, 495114)

In [63]:
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s 입니다." % nick)

In [65]:
say_nick('사랑')

나의 별명은 사랑 입니다.

In [66]:
say_nick('바보')  # 공집합으로 반환

In [67]:
def get_root(a, b, c):
    r1 = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    r2 = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return r1, r2

get_root(2,5,7)

((-1.25+1.3919410907075054j), (-1.25-1.3919410907075054j))

In [68]:
def print_sum(a, b):
    result = a + b
    print(a, '과', b, '의 합은', result, '입니다')
    
print_sum(10,100)

10 과 100 의 합은 110 입니다

In [69]:
def div(a, b = 2):  # 초기값이 입력돼있는 경우에는 입력값 하나만 넣어주어도 진행 가능
    return a / b

print('div(4) =', div(4))

div(4) = 2.0

In [70]:
print('div(8) =', div(8))

div(8) = 4.0

In [71]:
def div1(a=2, b):  # 초기값이 입력돼있는 경우에는 초기값을 주는 경우에는 맨 뒤로 바꿔줘야 문제없이 돌아갈 수 있음
    return a/b

div1(2)

SyntaxError: non-default argument follows default argument (1657224453.py, line 1)

In [72]:
def div2(b, a = 2):
    return a/b

div2(1)

2.0

In [73]:
def div3(c, b, a=2):
    return c/b/a

div3(1,3)

0.16666666666666666

In [80]:
'Morning' < 'morning'  #

True

In [81]:
'A' < 'B'

True

In [82]:
ord('A')

65

In [83]:
ord('B')

66

In [84]:
a=3
a
print(_)

9

문제 1

In [86]:
def max2(m,n):
    if m > n:
        print('{}이 {}보다 큽니다.'.format(m,n))
    else:
        print('{}이 {}보다 작습니다.'.format(m,n))

max2(1,4)

1이 4보다 작습니다.

In [87]:
result1, result2 = get_root(c = -8, b = 2, 1)  # 반드시 위치인자가 먼저 나타나야 함

SyntaxError: positional argument follows keyword argument (3597878663.py, line 1)

In [88]:
result1, result2 = get_root(1, 2, c = -8)

In [89]:
result1, result2

(2.0, -4.0)

In [93]:
def minus(a,b):
    return a-b

In [94]:
a = minus(7, 3)
a

4

In [95]:
def say():
    return 'Hi'

In [96]:
say()

'Hi'

In [101]:
def minus2(a, b):
    print("%d, %d의 차이는 %d입니다." % (a, b, a-b))

In [102]:
a = minus2(3, 4)

3, 4의 차이는 -1입니다.

In [103]:
print(a)

None

In [104]:
def print_sub(a, b):
    return a - b

In [105]:
print_sub(1, 10)

-9

- 가변적인 인자전달

In [106]:
def greet(*names):  # *를 사용해서 변수의 갯수가 달라질 수 있음을 미리 알려줌
    for name in names:
        print("안녕하세요", name, '씨')

greet('홍길동', '양만춘', '이순신')  # 인자가 3개
greet('James', 'Jane')  # 인자가 2개

안녕하세요 홍길동 씨
안녕하세요 양만춘 씨
안녕하세요 이순신 씨
안녕하세요 James 씨
안녕하세요 Jane 씨

In [107]:
def greet(*names):
    for name in names:
        print("안녕!", name, '씨')

greet('유재석', '노홍철')
greet('가', '나', '다', '라', '마')

안녕! 유재석 씨
안녕! 노홍철 씨
안녕! 가 씨
안녕! 나 씨
안녕! 다 씨
안녕! 라 씨
안녕! 마 씨

In [108]:
def sum_many(*args):
    sum = 0
    for i in args:
        sum = sum + i
    return sum

In [109]:
sum_many(5)

5

In [110]:
sum_many(1,2,3,4,5)

15

In [111]:
def sum_mul(choice, *args):
    if choice == 'sum':
        result = 0
        for i in args:
            result = result + i
    elif choice == 'mul':
        result = 1
        for i in args:
            result = result * i
    return result

In [112]:
sum_mul(1, 10, 11, 18)

UnboundLocalError: local variable 'result' referenced before assignment

In [114]:
sum_mul(1)

UnboundLocalError: local variable 'result' referenced before assignment

문제 1

In [119]:
def sum_nums(*args):
    sum = 0
    for i in args:
            sum += i
            return sum, len(i) / sum

In [120]:
sum_nums(10, 20, 30)

TypeError: object of type 'int' has no len()

In [121]:
def sum_nums(*args):  # 제공되는 수열의 갯수가 달라지므로 가변인자임을 표시해주어야 함
    sum = 0
    count = 0
    for i in args:
        sum += i
        count += 1
    print(sum)
    print(sum/count)

In [122]:
sum_nums(1,2,3)

6
2.0

In [123]:
def sum_nums(*args):  # 제공되는 수열의 갯수가 달라지므로 가변인자임을 표시해주어야 함
    sum = 0
    count = 0
    for i in args:
        sum += i
        count += 1
    return sum, sum/count

In [124]:
sum_nums(1,5)

(6, 3.0)

문제 2

In [125]:
def min_nums(*args):
    mini = min(args)
    return mini

In [126]:
min_nums(1,6,9,10,8,3,7)

1

In [127]:
min_nums(5,3,1,8,6,2,1.3, 0.8)

0.8

In [128]:
min_nums(20, 40, 50, 10)

10

In [130]:
"최솟값은 {}".format(min_nums(20, 40, 50, 10))

'최솟값은 10'

- **kwargs는 딕셔너리; key=value 형태로 데이터 들어감

In [131]:
def func(**kwargs):
    print(kwargs)

In [132]:
func(1,2,3,4)

TypeError: func() takes 0 positional arguments but 4 were given

In [133]:
func()

{}

In [134]:
def func1(*args, **kwargs):
    print(args, kwargs)

In [136]:
func(1, 2, 3, name='too', age = 3)

TypeError: func() takes 0 positional arguments but 3 were given

In [137]:
func()

{}

In [146]:
def func(*data, **method):
    num = sum(data) * method["scale"]
    print(num, method["unit"] + "입니다")

func(3, 4, 5, scale = 10, unit = '개')

TypeError: 'int' object is not callable

In [145]:
sum(data)

TypeError: 'int' object is not callable

다시 한번 더 작성해보기

In [152]:
def func(*data, **method):
    sum1 = 0
    for i in data:
        sum1 += i
    num = sum1 * method["scale"]
    print(num, method["unit"] + "입니다")
    
func(3, 4, 5, scale = 10, unit = "개")

120 개입니다

In [156]:
def func(*data, message, **method):
    print(message)
    sum12 = 0
    for i in data:
        sum12 += i
    num = sum12 * method["scale"]
    print(num, method["unit"] + "입니다")

func(3, 4, 5, message = "계산된 값입니다", scale= 10 , unit = "개")

계산된 값입니다
120 개입니다

In [163]:
def func(message1, message2, *data, **method):
    print(message1)
    print(message2)
    sum12 = 0
    for i in data:
        sum12 += i
    
    num = sum12 * method["scale"]
    print(num, method["unit"] + "입니다")

In [164]:
func(2, 3, 4, 4, 5)

2
3

KeyError: 'scale'

에러 예시

In [220]:
def say_myself(name, old, man = True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d 세입니다." % old)
    
    if man:
         print("남자입니다")
    else:
        print("여자입니다")

In [221]:
say_myself("mat", 28)

나의 이름은 mat 입니다.
나이는 28 세입니다.
남자입니다

In [191]:
def say_myself(name, man = True, old):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d 세입니다." % old)
    
    if man:
         print("남자입니다")
    else:
        print("여자입니다")
say_myself("mat", 20)

SyntaxError: non-default argument follows default argument (1631583882.py, line 1)

In [166]:
def print_sum():
    result = a + b
    print("print_sum() 내부:", a, "과", b, "의 합은", result, "입니다")  # 함수 내에 있는 result 값과 함수 밖에 있는 result 값은 서로 다른 변수
    
a = 10  # 전역변수 a
b = 20  # 전역변수 b
print_sum()
result = a + b
print('print_sum() 외부 :', a, '과', b, '의 합은', result, '입니다')

print_sum() 내부: 10 과 20 의 합은 30 입니다
print_sum() 외부 : 10 과 20 의 합은 30 입니다

In [167]:
def print_sum():
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부 :', a, '과', b, '의 합은', result, '입니다')

In [168]:
print_sum()

print_sum() 내부 : 100 과 200 의 합은 300 입니다

In [169]:
a = 10
b = 20
print_sum()

print_sum() 내부 : 100 과 200 의 합은 300 입니다

In [170]:
result = a + b

In [171]:
result

30

In [182]:
a = 1
def vartest(a):
    a = a + 1  # 지역변수

vartest(a)
print(a)

1

In [174]:
print(vartest(a))

None

In [183]:
vartest(a)  # 함수안에서 새로 만들어진 매개변수가 사용되는 함수만의 변수이기 때문

In [176]:
a = 1
def vartest(a):
    a = a + 1
    return a

a = vartest(a)
print(a)

2

In [180]:
a = 1
def vartest():
    global a  # 함수내에서 전역변수처럼 사용하려면 global 사용할 수 있지만, 사용하지 않는 것을 권장 (함수외부에서 선언된 a, b를 사용)
    a = a + 1

vartest()
print(a)

2

In [181]:
def print_sum():
    global a,b
    a = 100
    b = 200
    result = a + b
    print('print_sum() 내부', a, '와', b, '의 합은', result, '입니다')

a = 10
b = 20
print_sum()
result = a + b
print('print_sum() 외부', a, '와', b, '의 합은', result, '입니다')

print_sum() 내부 100 와 200 의 합은 300 입니다
print_sum() 외부 100 와 200 의 합은 300 입니다

In [186]:
eval("200+300+400")  # 문자열을 수치값과 연산자로 변환하여 계산

900

In [187]:
sorted("EABCD")  # 문자열 정렬

['A', 'B', 'C', 'D', 'E']

abs(x)
divmod(x,y) ; 몫, 나머지를 튜플형태로 변환

문제 1: 세 숫자값을 입력하고, 정렬하기

In [ ]:
num = input("세 수를 입력하세요: ")
def sort3(num1, num2, num3):
    num = []
    a = num.sort()

In [188]:
def sort3(a, b, c):
    list = []
    list.append(a)
    list.append(b)
    list.append(c)
    list.sort()
    return list

print('세 수를 입력하세요:')
a = int(input())
b = int(input())
c = int(input())

list = sort3(a, b, c)
print('정렬된 리스트는 다음과 같습니다.', list[0], list[1], list[2])

세 수를 입력하세요:

 1
 2
 3

정렬된 리스트는 다음과 같습니다. 1 2 3

In [197]:
def sort1(a, b, c):
    list = []
    list.append(a)
    list.append(b)
    list.append(c)
    list.sort()
    return list

print("세 수를 입력하세요:")
a = int(input())
b = int(input())
c = int(input())

list = sort1(a, b, c)
print("정렬된 리스트는 다음과 같습니다.", list[0], list[1], list[2])

세 수를 입력하세요:

 1
 1
 1

정렬된 리스트는 다음과 같습니다. 1 1 1

type()

# 모듈 사용하기

import 모듈

In [192]:
from math import ceil
print(ceil(2.9))  # 올림

3

In [193]:
import math
print(math.floor(2.9))

2

In [194]:
print(ceil(22.1))

23

In [195]:
print(math.floor(2.1))  # 절사

2

In [ ]:
def my_std(mylist):
    import math
    average = my_aver(mylist)
    variance = 0
    for data in mylist:
        variance += (data - average)**2
    stdev = math.sqrt(variance) / (len(mylist)-1)  # math.sqrt(x)
    return stdev

if __name__ == '__main__':
    scorelist = [78, 56, 67, 95, 82]
    aver_val = my_aver(scorelist)
    std_val = my_std(

객체지향에서는 함수가 아닌 메소드라고 부름

In [198]:
s1 = 'aaaaa'
s1.count('a')

5

문제 1

In [201]:
a = int(input("자연수를 입력하세요:"))
def is_odd(a):
    if a % 2 == 0:
        print("주어진 자연수 {}는 짝수입니다.".format(a))
    else:
        print("주어진 자연수 {}는 홀수입니다.".format(a))

is_odd(a)

자연수를 입력하세요: 5

주어진 자연수 5는 홀수입니다.

In [210]:
a = int(input("자연수를 입력하세요:"))

def odd_even_classifier():
    if b%2 == 0:
        result = "even"
    else:
        result = "odd"
    return result

odd_even_classifier()

자연수를 입력하세요: 7

'odd'

문제 2

In [208]:
def sum_nums(*args):  # 제공되는 수열의 갯수가 달라지므로 가변인자임을 표시해주어야 함
    sum = 0
    count = 0
    for i in args:
        sum += i
        count += 1
    return sum, sum/count

In [ ]:
a = int(input("수를 입력하세요:"))
a = []
a.append[a]
a.append[b]
a.append[c]

sum = 0
i = 0
def find_av(a):
    sum += a / (len(sum))
    print("")

In [204]:
def find_av(*args):
    sum = 0
    count = 0
    for i in args:
        sum += i
        count += 1
    return sum, sum/count

In [205]:
find_av(1,5,6,7,7,6,4,3)

(39, 4.875)

In [206]:
def vcal(*a):
    sum=0
    for i in a:
        sum+=i
    average = sum/len(a)
    return(average)

In [207]:
vcal(1,4,5,6,6)

4.4

### Q&A

문제 3

In [214]:
def calcul(*n):
    gu = 0
    for i in n:
        gu += i
    gugudan = gu * n
    return (gugudan)

In [226]:
for i in range(1,10):
    print("\n")
    for j in range(1, 10):
        print("{}*{}:".format(i,j), i * j, end = ' ')

1*1: 1 1*2: 2 1*3: 3 1*4: 4 1*5: 5 1*6: 6 1*7: 7 1*8: 8 1*9: 9

2*1: 2 2*2: 4 2*3: 6 2*4: 8 2*5: 10 2*6: 12 2*7: 14 2*8: 16 2*9: 18

3*1: 3 3*2: 6 3*3: 9 3*4: 12 3*5: 15 3*6: 18 3*7: 21 3*8: 24 3*9: 27

4*1: 4 4*2: 8 4*3: 12 4*4: 16 4*5: 20 4*6: 24 4*7: 28 4*8: 32 4*9: 36

5*1: 5 5*2: 10 5*3: 15 5*4: 20 5*5: 25 5*6: 30 5*7: 35 5*8: 40 5*9: 45

6*1: 6 6*2: 12 6*3: 18 6*4: 24 6*5: 30 6*6: 36 6*7: 42 6*8: 48 6*9: 54

7*1: 7 7*2: 14 7*3: 21 7*4: 28 7*5: 35 7*6: 42 7*7: 49 7*8: 56 7*9: 63

8*1: 8 8*2: 16 8*3: 24 8*4: 32 8*5: 40 8*6: 48 8*7: 56 8*8: 64 8*9: 72

9*1: 9 9*2: 18 9*3: 27 9*4: 36 9*5: 45 9*6: 54 9*7: 63 9*8: 72 9*9: 81

In [215]:
calcul(2,3,4,5,6,7,8,9)

(2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9)

In [218]:
x = input("자연수를 입력하세요")
a = int(x)

def cal(z):
    for i in range(1,10):
        print(z*i, end = ' ')

cal(a)

자연수를 입력하세요 1

1 2 3 4 5 6 7 8 9

In [223]:
a = int(input("입력하세요"))
d = a
def mul_table(n):
    for i in range(1,10):
        print(i*d, end=' ')
mul_table(1)

입력하세요 2

2 4 6 8 10 12 14 16 18

함수 (난수발생)

seed(int), sample(population, k), choices(population, k = 1), randrange(stop), randrange(start, stop, [step]), randint(a, b), rand(m,n), randn(m,n), random(), uniform(a, b); 균등분포하는 난수 한 개를 발생시키는 함수

In [219]:
from random import *
r = uniform(2, 5)
print(r)

3.560519378541389

일반적인 랜덤모듈 안에는 randn() 없음

In [227]:
from random import *
r1 = randn(2, 5)
print(r1)

NameError: name 'randn' is not defined

In [228]:
from random import *
r1 = randn()
print(r1)

NameError: name 'randn' is not defined

In [229]:
import numpy as np
print(np.random.randn(2))

[-0.07929085 -0.70867775]

In [230]:
import random
r = random.random()
print(r)

0.8512029377243422

In [231]:
import numpy as np
r=np.random.random((2,2))
print(r)

[[0.88270961 0.7492226 ]
 [0.39570791 0.51074594]]

In [232]:
import random
random.seed(20191101)
r = random.randint(1, 10)
print(r)

7

In [233]:
from random import *
lst = [1,2,3,4,5]
print(lst)
shuffle(lst)
print(lst)
print(sample(lst,3))
print(choices(lst, k = 3))

[1, 2, 3, 4, 5]
[1, 4, 5, 3, 2]
[3, 5, 1]
[2, 5, 1]

# 람다함수

In [234]:
plus = lambda x, y: x + y
plus(3,5)

8

In [235]:
my_fn = lambda x, a = 2, b = 7: a * x + b
my_fn(4)

15

In [246]:
list = [1,2,3]
sum(list)

TypeError: 'int' object is not callable

In [1]:
list = [1,2,3]
sum(list)

6

In [246]:
list = [1,2,3]
sum(list)

TypeError: 'int' object is not callable

In [246]:
list = [1,2,3]
sum(list)

TypeError: 'int' object is not callable

In [2]:
my_aver = lambda list: sum(list)/len(list)
scorelist = [78, 26, 56, 67]
my_aver(scorelist)

56.75

In [239]:
my_aver = lambda list: list[0]
scorelist = [78, 26, 56, 67]
my_aver(scorelist)

78

In [240]:
my_aver = lambda list: list
scorelist = [78, 26, 56, 67]
my_aver(scorelist)

[78, 26, 56, 67]

In [3]:
my_aver = lambda list: sum(list[0])
scorelist = [78, 26, 56, 67]
my_aver(scorelist)

TypeError: 'int' object is not iterable

In [4]:
my_aver = lambda list: len(list)
scorelist = [78, 26, 56, 67]
print(sum(scorelist))
my_aver(scorelist)

227

4

In [5]:
myList = [lambda a, b: a + b, lambda a, b: a * b]

myList

In [6]:
myList[0]

In [7]:
myList[0](3,4)

7

In [8]:
myList[1](4,5)

20

메모리 사용 측면에서도 효율적인 람다함수 사용

In [9]:
f = lambda: 1
f()

1

In [10]:
g = lambda x, y: x + y
g(1, 2)

3

In [11]:
(lambda x: x**x)(3)

27

In [12]:
(lambda x: x**x)(5)

3125

In [13]:
def add(x, y):
    return x + y

print('100과 200의 합: ', add(100,200))

100과 200의 합:  300

In [14]:
f = lambda * x: max(x) * 2

print(f(1, 3, 7))

14

In [15]:
f = [lambda x: x + 1, lambda x: x + 2, lambda x: x + 3]

print(f[0](1))
print(f[1](1))
print(f[2](1))

2
3
4

In [16]:
f = [lambda x: x + 1, lambda x: x + 2, lambda x: x + 3]

print(f[0](1))
print(f[1](2))
print(f[2](3))

2
4
6

In [17]:
sub = [lambda x: x - y]
print(sub[0](200,100))

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [18]:
def sub(a,b):
    a - b
    print(a-b)

In [19]:
sub(200,100)

100

In [20]:
def sub(a,b):
    a-b

In [21]:
sub(200,100)

In [3]:
def sub(a,b):
    print(a-b)

In [4]:
sub(200,100)

100

필터함수

In [1]:
scorelist = [78, 56, 67, 95, 82]
list(filter(lambda x: x < 82, scorelist))

[78, 56, 67]

In [2]:
scorelist = [78, 56, 67, 95, 82]
list(filter(lambda x: x < 82, scorelist))

[78, 56, 67]

# 함수 생성

In [6]:
f = lambda x: x > 0
print(list(filter(f, range(-5, 5))))  # list() 또는 set() 등의 구문을 추가하지 않으면 iterator 형태로만 출력됨

[1, 2, 3, 4]

# reduce() 함수

In [7]:
from functools import reduce
reduce(lambda x,y: x * y, [1,2,3,4])
# ((1*2)*3)*4와 같다

24

## - 초깃값 설정

In [9]:
reduce(lambda x,y: x+y, [1,2,3,4], 0)

10

In [11]:
reduce(lambda x,y: x + y*y, range(1,11), 0)  # 각 원소를 제곱해서 모두 더하기

385

In [12]:
x = 0  # for문으로도 이렇게 돌릴 수 있음
for y in range(1, 11):
    x = x + y * y

x

385

## zip() 함수

zip(*iterable)은 동일한 갯수로 이루어진 자료형을 묶어주는 역할을 하는 함수. 두 개 이상의 list에서 같은 위치끼리 묶어줌

In [14]:
# iterable 자료형
num = [1, 2, 3]
fruit = ['apple', 'banana', 'orange']
color = ['red', 'yellow', 'orange']

zip_list = zip(num, fruit, color)
print(zip_list, type(zip_list))

print(list(zip_list))

<zip object at 0x00000294C16CC400> <class 'zip'>
[(1, 'apple', 'red'), (2, 'banana', 'yellow'), (3, 'orange', 'orange')]

In [15]:
list(zip([1,2], [3,4]))  # index 0은 0끼리, 1은 1끼리

[(1, 3), (2, 4)]

In [16]:
list(zip([1,2], [3,4], [5,6]))

[(1, 3, 5), (2, 4, 6)]

In [17]:
my_list = [[1,2], [3,4], [5,6]]
# asterisk 활용
for i, j, k in zip(*my_list):  # * list를 unpack
    print(i, j, k)

1 3 5
2 4 6

In [18]:
my_list = [[1,2], [3,4], [5,6]]
# asterisk 활용
for i, j, k in zip([1,2], [3,4], [5,6]):  # * list를 unpack
    print(i, j, k)

1 3 5
2 4 6

In [19]:
list(zip([1,2,3], [4,5,6]))

[(1, 4), (2, 5), (3, 6)]

In [20]:
list(zip("abc", "def"))

[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [21]:
a_var = [0,1,2,3,4]
b_var = [0,1,2,3]
c_var = [2,4,6,8]

In [22]:
print(zip(a_var, b_var, c_var))

<zip object at 0x00000294C2A8E0C0>

In [23]:
print(list(zip(a_var, b_var, c_var)))

[(0, 0, 2), (1, 1, 4), (2, 2, 6), (3, 3, 8)]

In [24]:
print(*list(zip(a_var, b_var, c_var)))

(0, 0, 2) (1, 1, 4) (2, 2, 6) (3, 3, 8)

# enumerate() 함수

In [25]:
order = ['alpha', 'beta', 'gamma']
list(enumerate(order))

[(0, 'alpha'), (1, 'beta'), (2, 'gamma')]

## - 시작 숫자 지정 가능

In [26]:
list(enumerate(order, 10))

[(10, 'alpha'), (11, 'beta'), (12, 'gamma')]

In [28]:
for index, value in enumerate(order):
    print(index, value)

0 alpha
1 beta
2 gamma

# map() 함수

In [29]:
myList = list(range(1,6))
myList

[1, 2, 3, 4, 5]

In [30]:
# for 반복문 이용
result1 = []
for val in myList:
    result1.append(val + 1)

print(f'result1: {result1}')

result1: [2, 3, 4, 5, 6]

In [33]:
# map 함수 이용
def add_one(n):
    return n + 1

result2 = list(map(add_one, myList))  # map 반환을 list로 변환
print(f'result2 : {result2}')

result2 : [2, 3, 4, 5, 6]

In [35]:
# 예졔1) 리스트의 값을 정수타입으로 변환
result1 = list(map(int, [1.1, 2.2, 3.3, 4.4, 5.5]))
print(f'map(int, 리스트): {result1}')

map(int, 리스트): [1, 2, 3, 4, 5]

In [37]:
# 예제2) 리스트 값 제곱
def func_pow(x):
    return pow(x, 5)  # x의 5wprhq qksghks

result2 = list(map(func_pow, [1,2,3,4,5]))
print(f'map(func_pow, 리스트): {result2}')

map(func_pow, 리스트): [1, 32, 243, 1024, 3125]

In [38]:
# 예제 3
import math  # math.ceil 함수 사용

result3 = list(map(math.ceil, [1.1, 2.2, 3.3, 4.4, 5.5]))
print(f'map(func_ceil, 리스트): {result3}')

map(func_ceil, 리스트): [2, 3, 4, 5, 6]

여기

In [39]:
def func_mul(x):
    return x * 2

result1 = list(map(func_mul, [5, 4, 3, 2, 1]))
print(f"map(람다함수, 리스트): {result2}")

map(람다함수, 리스트): [1, 32, 243, 1024, 3125]

# filter() 함수

In [42]:
arr = [11, 12, 14, 16, 19, 21]

여기

In [53]:
is_even()

TypeError: is_even() takes 0 positional arguments but 1 was given

In [55]:
def is_even(x):
    if x % 2 == 0:
        return True
    return False

# for 반복문 이용
arr1 = []
for val in range(1, 11): # 1 ~ 10 까지
    if is_even(val): # == True:
        arr1.append(val)

print(f"arr function: {arr1}")

arr function: [2, 4, 6, 8, 10]

In [ ]:
def is_even(x):
    if x % 2 == 0:
        return True
    return False

In [69]:
arr = []
def func1(n):
    if n < 10:
        return True
    return False

def func3(n):
    return isinstance(n, float)

result1 = list(filter(func1, arr))
result3 = list(filter(func3, arr))

In [70]:
print(result1)
result3

[]

[]

In [48]:
def func(x):
    if x > 0:
        return x
    else:
        return x - 100
    
print(list(filter(func, range(-5, 5))))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

문제 1

In [49]:
n_list = list(range(1,11))
n_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [lambda x: x % 2 == 0 if i n_list[i] % 2 == 0 return "짝수"]

In [57]:
a = list(range(1,11))

In [58]:
even_list = lambda a: a % 2 == 0

a_even = list()
for i in a:
    if(even_list(i)==True):
        a_even.append(i)

print(a_even)

[2, 4, 6, 8, 10]

In [59]:
check_even_list = lambda a: a % 2 == 0
list(filter(check_even_list, a))

[2, 4, 6, 8, 10]

In [71]:
import math
a=math.ceil(3.7)
print(a)

4

In [73]:
a=[1,2,3,4,5]

for i in a:

   print(i)

1
2
3
4
5

In [74]:
a=[1,2,3]

for i in a :

    if (i==2): 

          print("wow")

          break

else:

    print("hello")

wow

In [75]:
a=[1,2,3,4,5,6,7,8,9,10]

check_list = lambda a: a % 2 != 0

aa=list()

for i in a:

    if(check_list(i)==True):

        aa.append(i)

print(aa)

[1, 3, 5, 7, 9]

In [76]:
numbers=[1,2,3,4,5]

result=[n*2 for n in numbers if n%2==1]

print(result)

[2, 6, 10]

In [77]:
def func(*data, **method):

    sum1=0

    for i in data:

        sum1+=i

    num = sum1*method["scale"]

    print(num, method["unit"]+"입니다")



func(3,4,5, scale=10, unit="개")

120 개입니다

In [78]:
order = ['alpha', 'beta', 'gamma']

list(enumerate(order))

[(0, 'alpha'), (1, 'beta'), (2, 'gamma')]