In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy.stats as stats
#!pip install missingno
import missingno as msno
#한글 글꼴 설정
# mpl.rc('font', family ='Malgun Gothic')
mpl.rc('font',family='AppleGothic') #  그래프 글꼴 설정 (Mac)

In [ ]:
df1 = pd.read_csv("10_Data.csv", encoding = 'cp949')

In [ ]:
# 결측값 제거 후 스케일링
df1_clean = df1.dropna()

In [ ]:
# 데이터의 연속형 항목을 리스트 형태로 불러옴
numeric_list = df1_clean.describe().columns.tolist()

df1_numeric = df1_clean[numeric_list]  # 연속형 데이터만 추출

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler

In [ ]:
df1_numeric.describe()

,순번,충전실온도,실링온도,쿠킹온도,쿠킹스팀압력,실링압력,생산시간
count,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000
mean,8.573486,71.685658,101.377923,136.969046,23.727427,208.354819,75.685222
std,7.377341,0.857357,12.486747,12.480757,0.232014,3.622778,2.695066
min,1.000000,68.217193,65.050311,100.058961,22.919000,194.239000,69.690000
25%,3.000000,71.181829,91.825021,127.329544,23.581000,205.912000,73.420000
50%,6.000000,71.728887,99.786348,135.491005,23.728000,208.361000,75.670000
75%,12.000000,72.251039,109.162083,144.771468,23.864000,210.788000,77.950000
max,62.000000,74.086660,140.799501,176.823600,24.580000,223.702000,82.580000

In [ ]:
# 표준화 스케일링 실시
scaler = StandardScaler()
scaler.fit(df1_numeric)  # fit 데이터를 변환하기 위한 수식 도출

StandardScaler()

In [ ]:
# minmax 스케일링 실시
scaler_mm = MinMaxScaler()
scaler_mm.fit(df1_numeric)
df1_scale = pd.DataFrame(scaler_mm.fit_transform(df1_numeric), columns = numeric_list)
df1_scale.describe()

,순번,충전실온도,실링온도,쿠킹온도,쿠킹스팀압력,실링압력,생산시간
count,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000,22909.000000
mean,0.124156,0.590934,0.479578,0.480821,0.486711,0.479103,0.465106
std,0.120940,0.146071,0.164843,0.162585,0.139684,0.122960,0.209082
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.032787,0.505095,0.353465,0.355249,0.398555,0.396192,0.289372
50%,0.081967,0.598299,0.458566,0.461567,0.487056,0.479313,0.463926
75%,0.180328,0.687259,0.582340,0.582462,0.568934,0.561688,0.640807
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# 변환
df1_scale = pd.DataFrame(scaler.fit_transform(df1_numeric),  columns = numeric_list)
df1_scale.describe()

,순번,충전실온도,실링온도,쿠킹온도,쿠킹스팀압력,실링압력,생산시간
count,2.290900e+04,2.290900e+04,2.290900e+04,2.290900e+04,2.290900e+04,2.290900e+04,2.290900e+04
mean,1.389511e-16,-1.153015e-14,-4.536072e-16,8.810060e-16,-1.654387e-15,1.509233e-15,-1.941129e-15
std,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00,1.000022e+00
min,-1.026610e+00,-4.045619e+00,-2.909357e+00,-2.957424e+00,-3.484461e+00,-3.896493e+00,-2.224566e+00
25%,-7.555037e-01,-5.876663e-01,-7.650600e-01,-7.723661e-01,-6.311269e-01,-6.743092e-01,-8.405254e-01
50%,-3.488442e-01,5.042214e-02,-1.274639e-01,-1.184282e-01,2.468439e-03,1.706168e-03,-5.648210e-03
75%,4.644747e-01,6.594608e-01,6.234074e-01,6.251698e-01,5.886519e-01,6.716487e-01,8.403607e-01
max,7.242132e+00,2.800530e+00,3.157142e+00,3.193350e+00,3.674735e+00,4.236395e+00,2.558352e+00

In [ ]:
# 변환된 결과에서 충전실 온도가 0 미만인 데이터의 갯수를 확인
print(len(df1_scale.loc[(df1_scale['충전실온도']<0)]['충전실온도']))

10943

In [ ]:
# 인코딩
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# 범주형 데이터의 항목 확인
df1_clean['생산라인명'].unique()

array(['쿠커 #1', '쿠커 #2', '쿠커 #3', '2동 쿠커 #4', '프리머 #1', 'PET병',
       '파일롯 - 수동', '벌크(캔)', '마요네즈 수동', 'PET#1', '로타리 #2', '2동 쿠커 #3',
       '3K 캔', '3.2마요', '튜브', '2동 오리히로', '파일롯', '2동 6열컵실러#1', '파일롯(#B)',
       '로타리 #1', '파우치포장(#2)', '3.2K마요포장(#5)', '쿠커 #4', '프리머 #2', '전처리1실',
       '전처리2실', '2동 컵(샐러드)포장(#7)', '튜브포장(#6)', '계량 #1', '분말포장(#8)',
       '계량 #2', '계량 #4 (소량)', '파일롯 - 소포장', '파우치포장(#3)', '계량 #3',
       '2동 로타리#3', '파일롯 - 벌크', '2동 쿠커 #1', '쿠커 #5', '병(PET)12열충전',
       'PET#2', '세트포장(#A)', '2동 쿠커 #2', '2동 로타리#4', '냉동밥 취반#1', '로타리 #5',
       '냉동밥 내포장#2', '냉동밥 내포장#1', '냉동밥 외포장#2', '냉동밥 외포장#1', '볶음 공정',
       '냉동밥 취반#2', '2동 6열컵실러#2', '2동 4열충진기', '2동 쿠커 #5', '벌크(#9)',
       '2동 전처리실'], dtype=object)

In [ ]:
# 범주형 항목들만 리스트 형태로 추출
object_list = df1_clean['생산라인명'].unique().tolist()
len(object_list)

57

In [ ]:
number_list = list(range(0,57))

In [ ]:
dict_transform = dict(zip(object_list,number_list))
dict_transform

{'쿠커 #1': 0,
 '쿠커 #2': 1,
 '쿠커 #3': 2,
 '2동 쿠커 #4': 3,
 '프리머 #1': 4,
 'PET병': 5,
 '파일롯 - 수동': 6,
 '벌크(캔)': 7,
 '마요네즈 수동': 8,
 'PET#1': 9,
 '로타리 #2': 10,
 '2동 쿠커 #3': 11,
 '3K 캔': 12,
 '3.2마요': 13,
 '튜브': 14,
 '2동 오리히로': 15,
 '파일롯': 16,
 '2동 6열컵실러#1': 17,
 '파일롯(#B)': 18,
 '로타리 #1': 19,
 '파우치포장(#2)': 20,
 '3.2K마요포장(#5)': 21,
 '쿠커 #4': 22,
 '프리머 #2': 23,
 '전처리1실': 24,
 '전처리2실': 25,
 '2동 컵(샐러드)포장(#7)': 26,
 '튜브포장(#6)': 27,
 '계량 #1': 28,
 '분말포장(#8)': 29,
 '계량 #2': 30,
 '계량 #4 (소량)': 31,
 '파일롯 - 소포장': 32,
 '파우치포장(#3)': 33,
 '계량 #3': 34,
 '2동 로타리#3': 35,
 '파일롯 - 벌크': 36,
 '2동 쿠커 #1': 37,
 '쿠커 #5': 38,
 '병(PET)12열충전': 39,
 'PET#2': 40,
 '세트포장(#A)': 41,
 '2동 쿠커 #2': 42,
 '2동 로타리#4': 43,
 '냉동밥 취반#1': 44,
 '로타리 #5': 45,
 '냉동밥 내포장#2': 46,
 '냉동밥 내포장#1': 47,
 '냉동밥 외포장#2': 48,
 '냉동밥 외포장#1': 49,
 '볶음 공정': 50,
 '냉동밥 취반#2': 51,
 '2동 6열컵실러#2': 52,
 '2동 4열충진기': 53,
 '2동 쿠커 #5': 54,
 '벌크(#9)': 55,
 '2동 전처리실': 56}

In [ ]:
df1_clean['생산라인명'].replace(dict_transform)

0         0
1         1
2         2
3         3
4         4
         ..
24059    46
24062    47
24063    47
24067    47
24068    33
Name: 생산라인명, Length: 22909, dtype: int64

In [ ]:
# sklearn 라이브러리로 변환
encoder = LabelEncoder()
encoder.fit(df1_clean[['생산라인명']])
encoder.fit_transform(df1_clean[['생산라인명']])

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([41, 42, 43, ..., 23, 23, 49])

In [ ]:
# 판다스를 이용한 원핫인코딩
pd.get_dummies(df1_clean)   # 모든 문자데이터를 1, 0으로 변환해서 붙여줌 -> 문제점은 컬럼갯수가 너무 많아지므로 정제 후에 사용

,순번,충전실온도,실링온도,쿠킹온도,쿠킹스팀압력,실링압력,생산시간,생산라인코드_C001,생산라인코드_C002,생산라인코드_C003,...,품목명_흑참깨드레싱E,품목명_흑참깨드레싱E(재),품목명_흑초차베이스,품목명_흑초차베이스(재),품목명_흰쌀베이스밥,작업장코드_W002,작업장코드_W003,작업장코드_W005,작업장코드_W007,작업장코드_W012
0,3,71.669853,96.769853,131.742003,23.315,201.844,70.37,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,70.386480,102.086480,136.926080,23.226,212.043,70.83,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,13,71.206130,112.306130,147.579680,23.516,208.781,73.55,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,7,70.430565,96.030565,131.569165,23.692,208.269,74.81,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,2,72.179319,114.079318,149.928068,23.899,211.625,73.40,0,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24059,3,71.288798,102.688798,138.091898,23.602,206.561,72.49,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24062,9,69.732381,98.432381,133.916831,23.656,213.413,76.63,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24063,10,71.459932,107.559932,143.598182,24.026,215.243,81.00,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24067,4,70.664452,65.764452,100.773102,23.339,209.513,72.12,0,0,0,...,0,0,0,0,0,0,0,1,0,0
24068,5,71.015225,106.115225,141.148725,23.356,205.288,76.03,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [ ]:
# 결측값 대치
from sklearn.impute import SimpleImputer
# 단순대치: 평균/중앙값/최빈값 등의 특정 값으로 대치

In [ ]:
# 결측값 갯수 확인
df1.isnull().sum()

순번           0
생산라인코드       0
생산라인명        0
생산일자         0
품목코드        38
품목명         57
작업장코드        0
충전실온도        0
실링온도        28
쿠킹온도        28
쿠킹스팀압력       0
실링압력         0
생산시간      1078
dtype: int64

In [ ]:
imputer = SimpleImputer()  # 평균대체
imputer.fit(df1[['생산시간', '실링온도', '쿠킹온도']])

SimpleImputer()

In [ ]:
df1_clean2 = pd.DataFrame(imputer.fit_transform(df1[['생산시간', '실링온도', '쿠킹온도']]))
df1_clean2.isnull().sum()

0    0
1    0
2    0
dtype: int64

In [ ]:
help(SimpleImputer)

Help on class SimpleImputer in module sklearn.impute._base:

class SimpleImputer(_BaseImputer)
 |  SimpleImputer(*, missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |
 |  Imputation transformer for completing missing values.
 |
 |  Read more in the :ref:`User Guide <impute>`.
 |
 |  .. versionadded:: 0.20
 |     `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
 |     estimator which is now removed.
 |
 |  Parameters
 |  ----------
 |  missing_values : int, float, str, np.nan or None, default=np.nan
 |      The placeholder for the missing values. All occurrences of
 |      `missing_values` will be imputed. For pandas' dataframes with
 |      nullable integer dtypes with missing values, `missing_values`
 |      should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.
 |
 |  strategy : str, default='mean'
 |      The imputation strategy.
 |
 |      - If "mean", then replace missing values using the mean along
 |        each column. Can only be used with numeric data.
 |      - If "median", then replace missing values using the median along
 |        each column. Can only be used with numeric data.
 |      - If "most_frequent", then replace missing using the most frequent
 |        value along each column. Can be used with strings or numeric data.
 |        If there is more than one such value, only the smallest is returned.
 |      - If "constant", then replace missing values with fill_value. Can be
 |        used with strings or numeric data.
 |
 |      .. versionadded:: 0.20
 |         strategy="constant" for fixed value imputation.
 |
 |  fill_value : str or numerical value, default=None
 |      When strategy == "constant", fill_value is used to replace all
 |      occurrences of missing_values.
 |      If left to the default, fill_value will be 0 when imputing numerical
 |      data and "missing_value" for strings or object data types.
 |
 |  verbose : int, default=0
 |      Controls the verbosity of the imputer.
 |
 |  copy : bool, default=True
 |      If True, a copy of `X` will be created. If False, imputation will
 |      be done in-place whenever possible. Note that, in the following cases,
 |      a new copy will always be made, even if `copy=False`:
 |
 |      - If `X` is not an array of floating values;
 |      - If `X` is encoded as a CSR matrix;
 |      - If `add_indicator=True`.
 |
 |  add_indicator : bool, default=False
 |      If True, a :class:`MissingIndicator` transform will stack onto output
 |      of the imputer's transform. This allows a predictive estimator
 |      to account for missingness despite imputation. If a feature has no
 |      missing values at fit/train time, the feature won't appear on
 |      the missing indicator even if there are missing values at
 |      transform/test time.
 |
 |  Attributes
 |  ----------
 |  statistics_ : array of shape (n_features,)
 |      The imputation fill value for each feature.
 |      Computing statistics can result in `np.nan` values.
 |      During :meth:`transform`, features corresponding to `np.nan`
 |      statistics will be discarded.
 |
 |  indicator_ : :class:`~sklearn.impute.MissingIndicator`
 |      Indicator used to add binary indicators for missing values.
 |      `None` if `add_indicator=False`.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  See Also
 |  --------
 |  IterativeImputer : Multivariate imputation of missing values.
 |
 |  Notes
 |  -----
 |  Columns which only contained missing values at :meth:`fit` are discarded
 |  upon :meth:`transform` if strategy is not `"constant"`.
 |
 |  Examples
 |  --------
 |  >>> import numpy as np
 |  >>> from sklearn.impute import SimpleImputer
 |  >>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
 |  >>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
 |  SimpleImputer()
 |  >>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
 |  >>> print(imp_mean.transform(X))
 |  [[ 7.   2.   3. ]
 |   [ 4.   3.5  6. ]
 |   [10.   3.5  9. ]]
 |
 |  Method resolution order:
 |      SimpleImputer
 |      _BaseImputer
 |      sklearn.base.TransformerMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, missing_values=nan, strategy='mean', fill_value=None, verbose=0, copy=True, add_indicator=False)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y=None)
 |      Fit the imputer on `X`.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          Input data, where `n_samples` is the number of samples and
 |          `n_features` is the number of features.
 |
 |      y : Ignored
 |          Not used, present here for API consistency by convention.
 |
 |      Returns
 |      -------
 |      self : object
 |          Fitted estimator.
 |
 |  inverse_transform(self, X)
 |      Convert the data back to the original representation.
 |
 |      Inverts the `transform` operation performed on an array.
 |      This operation can only be performed after :class:`SimpleImputer` is
 |      instantiated with `add_indicator=True`.
 |
 |      Note that `inverse_transform` can only invert the transform in
 |      features that have binary indicators for missing values. If a feature
 |      has no missing values at `fit` time, the feature won't have a binary
 |      indicator, and the imputation done at `transform` time won't be
 |      inverted.
 |
 |      .. versionadded:: 0.24
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape                 (n_samples, n_features + n_features_missing_indicator)
 |          The imputed data to be reverted to original data. It has to be
 |          an augmented array of imputed data and the missing indicator mask.
 |
 |      Returns
 |      -------
 |      X_original : ndarray of shape (n_samples, n_features)
 |          The original `X` with missing values as it was prior
 |          to imputation.
 |
 |  transform(self, X)
 |      Impute all missing values in `X`.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix}, shape (n_samples, n_features)
 |          The input data to complete.
 |
 |      Returns
 |      -------
 |      X_imputed : {ndarray, sparse matrix} of shape                 (n_samples, n_features_out)
 |          `X` with imputed values.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.TransformerMixin:
 |
 |  fit_transform(self, X, y=None, **fit_params)
 |      Fit to data, then transform it.
 |
 |      Fits transformer to `X` and `y` with optional parameters `fit_params`
 |      and returns a transformed version of `X`.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Input samples.
 |
 |      y :  array-like of shape (n_samples,) or (n_samples, n_outputs),                 default=None
 |          Target values (None for unsupervised transformations).
 |
 |      **fit_params : dict
 |          Additional fit parameters.
 |
 |      Returns
 |      -------
 |      X_new : ndarray array of shape (n_samples, n_features_new)
 |          Transformed array.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.TransformerMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.BaseEstimator:
 |
 |  __getstate__(self)
 |
 |  __repr__(self, N_CHAR_MAX=700)
 |      Return repr(self).
 |
 |  __setstate__(self, state)
 |
 |  get_params(self, deep=True)
 |      Get parameters for this estimator.
 |
 |      Parameters
 |      ----------
 |      deep : bool, default=True
 |          If True, will return the parameters for this estimator and
 |          contained subobjects that are estimators.
 |
 |      Returns
 |      -------
 |      params : dict
 |          Parameter names mapped to their values.
 |
 |  set_params(self, **params)
 |      Set the parameters of this estimator.
 |
 |      The method works on simple estimators as well as on nested objects
 |      (such as :class:`~sklearn.pipeline.Pipeline`). The latter have
 |      parameters of the form ``<component>__<parameter>`` so that it's
 |      possible to update each component of a nested object.
 |
 |      Parameters
 |      ----------
 |      **params : dict
 |          Estimator parameters.
 |
 |      Returns
 |      -------
 |      self : estimator instance
 |          Estimator instance.

### 특성공학 + 학습수행

In [ ]:
df1 = pd.read_csv("01_Data.csv", encoding = 'utf-8')
df1

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [ ]:
df1['State']

0        계약확정
1        계약확정
2        계약확정
3        계약확정
4        기간만료
         ...
51296    계약확정
51297    계약확정
51298    계약확정
51299    계약확정
51300    계약확정
Name: State, Length: 51301, dtype: object

In [ ]:
df1['State'].value_counts()  # 데이터의 속성과 빈도수 확인

계약확정     50620
해약확정       622
기간만료        45
해약진행중       14
Name: State, dtype: int64

In [ ]:
# 해약확률을 구하기 위해서 인코딩 함
df1['Target'] = df1['State'].replace({'계약확정':0, '기간만료':0,
                      '해약확정':1, '해약진행중':1})

In [ ]:
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank',
       'Target'],
      dtype='object')

In [ ]:
X = df1[['Sales_Type', 'Channel', 'Term', 'Amount_Month', 'Age', 'Credit_Rank']]

In [ ]:
X

      Sales_Type Channel  Term  Amount_Month   Age  Credit_Rank
0             렌탈    영업방판    60         96900  42.0          9.0
1             렌탈    영업방판    60        102900  39.0          2.0
2             렌탈  홈쇼핑/방송    60         96900  48.0          8.0
3            멤버십     재계약    12         66900  39.0          5.0
4            멤버십     재계약    12         66900  60.0          8.0
...          ...     ...   ...           ...   ...          ...
51296         렌탈   대형마트A    60         96900  47.0          NaN
51297         렌탈   대형마트A    60         96900  42.0          8.0
51298         렌탈    영업방판    39        120900  65.0          1.0
51299         렌탈  홈쇼핑/방송    60         96900  54.0          2.0
51300         렌탈  홈쇼핑/방송    60         96900  53.0          8.0

[51301 rows x 6 columns]

In [ ]:
Y = df1['Target']  # 해약여부

In [ ]:
# 학습데이터와 검증데이터 분할
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3,
                                                    random_state = 1234)

In [ ]:
X_train

      Sales_Type Channel  Term  Amount_Month   Age  Credit_Rank
4142         멤버십     재계약    12         66900  33.0          5.0
18830         렌탈    영업방판    60         87900  86.0          NaN
9676          렌탈  홈쇼핑/방송    60         96900  47.0          1.0
35734         렌탈  홈쇼핑/방송    60         96900  48.0          2.0
38283         렌탈   대형마트A    60         96900  47.0          3.0
...          ...     ...   ...           ...   ...          ...
32399         렌탈    영업방판    60         81900  50.0          3.0
17048         렌탈   대형마트E    60        105900  51.0          3.0
23924         렌탈    영업방판    36        102900  49.0          NaN
34086         렌탈   전문매장H    60         96900  26.0          5.0
27439         렌탈    영업방판    60        105900  40.0          1.0

[35910 rows x 6 columns]

In [ ]:
# 파이프라인 구축
from sklearn.pipeline import make_pipeline

# 결측치 처리
from sklearn.impute import SimpleImputer

# 스케일링과 인코딩
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

# 숫자는 숫자끼리, 문자는 문자끼리 처리될 수 있도록 파이프라인 별도 구성
# 두 파이프라인 병합
from sklearn.compose import make_column_transformer
# model = DecisionTreeClassifier()

# 학습 알고리즘 호출하기
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# 숫자가 처리되는 Process 구축하기 (1. 중앙값으로 결측치 처리 -> 2. MinMax Scaling으로 처리)
numeric_pipe = make_pipeline(SimpleImputer(strategy='median'),
                             MinMaxScaler())
numeric_pipe

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='median')),
                ('minmaxscaler', MinMaxScaler())])

In [ ]:
# 문자가 처리되는 Process 구축 (1. 최빈값으로 결측처리 -> 2. 인코딩)
category_pipe = make_pipeline(SimpleImputer(strategy='most_frequent'), 
                              OneHotEncoder())
category_pipe

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='most_frequent')),
                ('onehotencoder', OneHotEncoder())])

In [ ]:
X_train

      Sales_Type Channel  Term  Amount_Month   Age  Credit_Rank
4142         멤버십     재계약    12         66900  33.0          5.0
18830         렌탈    영업방판    60         87900  86.0          NaN
9676          렌탈  홈쇼핑/방송    60         96900  47.0          1.0
35734         렌탈  홈쇼핑/방송    60         96900  48.0          2.0
38283         렌탈   대형마트A    60         96900  47.0          3.0
...          ...     ...   ...           ...   ...          ...
32399         렌탈    영업방판    60         81900  50.0          3.0
17048         렌탈   대형마트E    60        105900  51.0          3.0
23924         렌탈    영업방판    36        102900  49.0          NaN
34086         렌탈   전문매장H    60         96900  26.0          5.0
27439         렌탈    영업방판    60        105900  40.0          1.0

[35910 rows x 6 columns]

In [ ]:
# 숫자는 숫자끼리, 문자는 문자끼리 처리되도록 파이프 구성하기
numeric_list = X.describe().columns.tolist()
category_list = X.describe(include = 'object').columns.tolist()

preprocessing_pipe = make_column_transformer((numeric_pipe, numeric_list), (category_pipe, category_list))
preprocessing_pipe

ColumnTransformer(transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='median')),
                                                 ('minmaxscaler',
                                                  MinMaxScaler())]),
                                 ['Term', 'Amount_Month', 'Age',
                                  'Credit_Rank']),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder())]),
                                 ['Sales_Type', 'Channel'])])

In [ ]:
category_list

['Sales_Type', 'Channel']

In [ ]:
# 특성공학 + 학습
model_pipe = make_pipeline(preprocessing_pipe, DecisionTreeClassifier())
model_pipe.fit(X_train, Y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('minmaxscaler',
                                                                   MinMaxScaler())]),
                                                  ['Term', 'Amount_Month',
                                                   'Age', 'Credit_Rank']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['Sales_Type', 'Channel'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [ ]:
# 평가
from sklearn.metrics import classification_report

In [ ]:
Y_train_pred = model_pipe.predict(X_train)
Y_test_pred = model_pipe.predict(X_test)

In [ ]:
print(classification_report(Y_train, Y_train_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     35455
           1       0.96      0.18      0.30       455

    accuracy                           0.99     35910
   macro avg       0.98      0.59      0.65     35910
weighted avg       0.99      0.99      0.99     35910

In [ ]:
print(classification_report(Y_test, Y_test_pred))

              precision    recall  f1-score   support

           0       0.99      1.00      0.99     15210
           1       0.07      0.02      0.03       181

    accuracy                           0.99     15391
   macro avg       0.53      0.51      0.51     15391
weighted avg       0.98      0.99      0.98     15391

In [ ]:
# 적용
x1 = input('계약 유형을 입력하시오: ')
x2 = input('유입 경로를 입력하시오: ')
x3 = input('계약 기간을 입력하시오: ')
x4 = input('월 납부액을 입력하시오: ')
x5 = input('고객의 연령을 입력하시오: ')
x6 = input('신용 등급을 입력하시오: ')
input_data = pd.DataFrame([[x1, x2, x3, x4, x5, x6]], columns = X.columns.tolist())

계약 유형을 입력하시오: 렌탈
유입 경로를 입력하시오: 영업방판
계약 기간을 입력하시오: 12
월 납부액을 입력하시오: 100000
고객의 연령을 입력하시오: 30
신용 등급을 입력하시오: 1

In [ ]:
model_pipe.predict(input_data)

array([0])

In [ ]:
# 모델 저장하기
import pickle  # python 객체들을 하나의 파일로 변환

In [ ]:
pickle.dump(model_pipe, open('model.sav', 'wb'))

### 모델이 잘 저장됐는지 확인 후, 테스트해보기

In [ ]:
import pickle
import pandas as pd

# 적용
x1 = input('계약 유형을 입력하시오: ')
x2 = input('유입 경로를 입력하시오: ')
x3 = input('계약 기간을 입력하시오: ')
x4 = input('월 납부액을 입력하시오: ')
x5 = input('고객의 연령을 입력하시오: ')
x6 = input('신용 등급을 입력하시오: ')
input_data = pd.DataFrame([[x1, x2, x3, x4, x5, x6]], columns = ['Sales_Type', 'Channel', 'Term', 'Amount_Month', 'Age', 'Credit_Rank'])

계약 유형을 입력하시오: 렌탈
유입 경로를 입력하시오: 영업방판
계약 기간을 입력하시오: 12
월 납부액을 입력하시오: 100000
고객의 연령을 입력하시오: 30
신용 등급을 입력하시오: 1

In [ ]:
input_data

  Sales_Type Channel Term Amount_Month Age Credit_Rank
0         렌탈    영업방판   12       100000  30           1

In [ ]:
model = pickle.load(open('model.sav', 'rb'))
model.fit(input_data)

ValueError: ignored

## 교차검증을 적용한 학습

In [ ]:
# gridSearch 하이퍼파라미터 튜닝
# cv (cross validation)
from sklearn.model_selection import GridSearchCV

In [ ]:
grid_model = GridSearchCV(model_pipe, cv = 5, param_grid = {'decisiontreeclassifier__max_depth':range(1,11),
                                                            'decisiontreeclassifier__min_samples_leaf':range(1,11)}, scoring = 'f1', n_jobs = -1)
grid_model.fit(X_train, Y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('columntransformer',
                                        ColumnTransformer(transformers=[('pipeline-1',
                                                                         Pipeline(steps=[('simpleimputer',
                                                                                          SimpleImputer(strategy='median')),
                                                                                         ('minmaxscaler',
                                                                                          MinMaxScaler())]),
                                                                         ['Term',
                                                                          'Amount_Month',
                                                                          'Age',
                                                                          'Credit_Rank']),
                                                                        ('pipeline-2',
                                                                         Pipeline(steps=[('simpleimputer',
                                                                                          SimpleImputer(strategy='most_frequent')),
                                                                                         ('onehotencoder',
                                                                                          OneHotEncoder())]),
                                                                         ['Sales_Type',
                                                                          'Channel'])])),
                                       ('decisiontreeclassifier',
                                        DecisionTreeClassifier())]),
             n_jobs=-1,
             param_grid={'decisiontreeclassifier__max_depth': range(1, 11),
                         'decisiontreeclassifier__min_samples_leaf': range(1, 11)},
             scoring='f1')

In [ ]:
best_model = grid_model.best_estimator_

In [ ]:
best_model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('minmaxscaler',
                                                                   MinMaxScaler())]),
                                                  ['Term', 'Amount_Month',
                                                   'Age', 'Credit_Rank']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['Sales_Type', 'Channel'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [ ]:
pickle.dump(best_model, open('best_model.sav', 'wb'))