## 유통 데이터 전처리 (데이터의 재구조화)

In [2]:
import pandas as pd

# df1 = pd.read_excel('04_Data.xlsx')
df1 = pd.read_excel('04_Data.xlsx', skiprows=1)
df1

,구분,카테고리명,자재그룹,자재그룹명,제품명,단위,판매,2019-12-01 00:00:00,2020-10-01 00:00:00,2020-11-01 00:00:00,...,2019-12-01 00:00:00.2,2020-10-01 00:00:00.2,2020-11-01 00:00:00.2,2020-12-01 00:00:00.2,2019-12-01 00:00:00.3,2020-10-01 00:00:00.3,2020-11-01 00:00:00.3,2020-12-01 00:00:00.3,안전재고,분류
0,구분,CHB,1687,친환경 바디워시,A,천원,0.0,0.0,0.0,0.0,...,98.8,0.0,0.0,0.0,98.8,0.0,0.0,0.0,0.0,E
1,구분,CHB,1687,친환경 바디워시,B,천원,0.0,0.0,0.0,0.0,...,393.7,0.0,0.0,0.0,393.7,0.0,0.0,0.0,0.0,E
2,구분,CHB,1687,친환경 바디워시,C,천원,10354.1,9474.3,9741.7,6965.7,...,6.4,0.0,6.4,0.0,9480.7,9741.7,6972.0,3368.2,0.0,A
3,구분,CHB,1687,친환경 바디워시,D,천원,3543.3,7702.6,6117.1,4009.9,...,7.7,10.2,0.0,10.2,7710.3,6127.3,4009.9,2680.1,0.0,A
4,구분,CHB,1687,친환경 바디워시,E,천원,234603.9,56309.6,78268.0,74942.2,...,293.0,0.0,0.0,277.2,56602.6,78268.0,74942.2,84967.2,39593.3,A
5,구분,CHB,1687,친환경 바디워시,F,천원,3339.9,3181.8,7674.0,3710.2,...,0.0,6.0,179.1,0.0,3181.8,7680.0,3889.3,8294.9,0.0,A
6,구분,CHB,1687,친환경 바디워시,G,천원,2616.8,24351.4,19767.5,18616.7,...,0.0,0.0,0.0,117.7,24351.4,19767.5,18616.7,17138.9,0.0,M
7,구분,CHB,1687,친환경 바디워시,H,천원,16520.3,26129.3,35423.7,26476.3,...,112.5,0.0,0.0,0.0,26241.8,35423.7,26476.3,60737.0,46893.9,A
8,구분,CHB,1687,친환경 바디워시,I,천원,11722.5,26550.6,4279.6,15773.6,...,36.1,0.0,216.9,0.0,26586.7,4279.6,15990.5,8400.1,0.0,K
9,구분,CHB,1687,친환경 바디워시,J,천원,100526.4,17334.1,32889.1,16821.8,...,298.1,27.9,0.0,37.3,17632.2,32917.1,16821.8,29750.2,0.0,A
10,구분,CHB,1687,친환경 바디워시,K,천원,70159.2,32350.2,34120.6,5633.1,...,483.4,0.0,123.9,6.2,32833.6,34120.6,5757.0,21014.0,0.0,A
11,구분,CHB,1687,친환경 바디워시,L,천원,6460.5,5862.7,17820.9,11808.6,...,98.8,2.1,0.0,611.1,5961.5,17823.0,11808.6,8055.5,0.0,A
12,구분,CHB,1687,친환경 바디워시,M,천원,8893.0,0.0,287.3,5150.9,...,14.0,0.0,0.0,0.0,14.0,287.3,5150.9,26497.5,0.0,A
13,구분,CHB,1687,친환경 바디워시,N,천원,0.0,0.0,0.0,0.0,...,46.9,0.0,0.0,0.0,46.9,0.0,0.0,0.0,0.0,E
14,구분,CHB,1687,친환경 바디워시,O,천원,0.0,0.0,0.0,0.0,...,1694.1,0.0,0.0,0.0,1694.1,0.0,0.0,0.0,0.0,E
15,구분,CHB,1687,친환경 바디워시,P,천원,0.0,0.0,0.0,0.0,...,32.3,0.0,0.0,0.0,38.3,0.0,0.0,0.0,0.0,E
16,구분,CHB,1687,친환경 바디워시,Q,천원,0.0,0.0,0.0,0.0,...,222.7,0.0,0.0,0.0,222.7,0.0,0.0,0.0,0.0,E
17,구분,CHB,1687,친환경 바디워시,R,천원,0.0,0.0,0.0,0.0,...,258.2,0.0,0.0,0.0,258.2,0.0,0.0,0.0,0.0,A
18,구분,CHB,1687,친환경 바디워시,S,천원,0.0,0.0,0.0,0.0,...,172.7,0.0,0.0,0.0,172.7,0.0,0.0,0.0,0.0,E
19,구분,CHB,1687,친환경 바디워시,T,천원,0.0,0.0,0.0,0.0,...,31.8,0.0,0.0,0.0,31.8,0.0,0.0,0.0,0.0,E
20,구분,CHB,1687,친환경 바디워시,U,천원,0.0,0.0,0.0,0.0,...,19.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,E
21,구분,CHB,1687,친환경 바디워시,V,천원,0.0,0.0,0.0,0.0,...,27.7,0.0,0.0,0.0,743.9,0.0,0.0,0.0,0.0,E
22,구분,CHB,1687,친환경 바디워시,W,천원,0.0,0.0,0.0,0.0,...,44.3,0.0,0.0,0.0,398.3,0.0,0.0,0.0,0.0,E
23,구분,CHB,1687,친환경 바디워시,X,천원,0.0,0.0,0.0,0.0,...,99.9,0.0,0.0,0.0,99.9,0.0,0.0,0.0,0.0,E
24,구분,CHB,1687,친환경 바디워시,Y,천원,0.0,0.0,0.0,0.0,...,213.9,0.0,0.0,0.0,554.1,0.0,0.0,0.0,0.0,E
25,구분,CHB,1687,친환경 바디워시,Z,천원,0.0,0.0,0.0,0.0,...,82.7,0.0,0.0,0.0,82.7,0.0,0.0,0.0,0.0,E
26,구분,CHB,1687,친환경 바디워시,A1,천원,0.0,0.0,0.0,0.0,...,4.4,0.0,0.0,0.0,4.4,0.0,0.0,0.0,0.0,E
27,구분,CHB,1687,친환경 바디워시,A2,천원,16402.2,18230.3,38921.6,27939.4,...,42.7,0.0,0.0,64.0,18273.0,38921.6,27939.4,34013.7,0.0,A
28,구분,CHB,1687,친환경 바디워시,A3,천원,0.0,0.0,0.0,0.0,...,6.7,0.0,0.0,0.0,10282.0,20.0,20.0,20.0,0.0,B
29,구분,CHB,1687,친환경 바디워시,B2,천원,2146.2,519.5,1178.4,120.4,...,0.0,0.0,0.0,0.0,519.5,1178.4,120.4,11606.3,0.0,G
30,구분,CHB,1687,친환경 바디워시,B3,천원,4026.4,9740.3,12012.8,9481.9,...,8.9,0.0,0.0,0.0,9749.3,12012.8,9481.9,7459.0,0.0,F
31,구분,CHB,1687,친환경 바디워시,FF1,천원,291.3,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9198.8,12173.8,172.9,0.0,0.0,E
32,구분,CHB,1687,친환경 바디워시,FF2,천원,0.0,0.0,44.7,0.0,...,0.0,0.0,0.0,0.0,0.0,44.7,0.0,0.0,0.0,F
33,구분,CHB,1687,친환경 바디워시,FF3,천원,25320.8,47153.2,43437.0,17273.7,...,27.3,0.0,36.4,82.0,47180.5,43437.0,17310.1,32010.8,0.0,M
34,구분,CHB,1687,친환경 바디워시,Z1,천원,2986.7,0.0,11964.2,8067.8,...,0.0,0.0,0.0,0.0,0.0,11964.2,8067.8,6418.2,0.0,H
35,구분,CHB,1687,친환경 바디워시,Z2,천원,5012.4,9670.2,6347.5,5342.4,...,0.0,9.3,0.0,0.0,9670.2,6356.9,5342.4,1619.5,0.0,K
36,구분,CHB,1687,친환경 바디워시,Z3,천원,585.0,8037.4,3983.1,3587.2,...,0.0,0.0,0.0,0.0,8037.4,3983.1,3587.2,3191.2,0.0,K
37,구분,CHB,1687,친환경 바디워시,KC,천원,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,406.4,0.0,0.0,0.0,E
38,구분,CHB,1687,친환경 바디워시,KC2,천원,16636.2,0.0,19386.7,17583.9,...,0.0,0.0,0.0,0.0,0.0,19386.7,17583.9,16845.8,0.0,L
39,구분,CHB,1687,친환경 바디워시,KC3,천원,18871.3,0.0,14541.2,12628.8,...,0.0,0.0,0.0,36.1,0.0,14541.2,12628.8,811.9,0.0,F

### 1. 컬럼이름 파악

In [4]:
df1.columns

Index([                   '구분',                 '카테고리명',
                        '자재그룹',                 '자재그룹명',
                         '제품명',                    '단위',
                          '판매',     2019-12-01 00:00:00,
           2020-10-01 00:00:00,     2020-11-01 00:00:00,
           2020-12-01 00:00:00, '2019-12-01 00:00:00.1',
       '2020-10-01 00:00:00.1', '2020-11-01 00:00:00.1',
       '2020-12-01 00:00:00.1', '2019-12-01 00:00:00.2',
       '2020-10-01 00:00:00.2', '2020-11-01 00:00:00.2',
       '2020-12-01 00:00:00.2', '2019-12-01 00:00:00.3',
       '2020-10-01 00:00:00.3', '2020-11-01 00:00:00.3',
       '2020-12-01 00:00:00.3',                  '안전재고',
                         ' 분류'],
      dtype='object')

In [9]:
df1.shape

(40, 25)

### 2. 데이터의 재구조

In [10]:
# 재구조화 (Reshape)
df2 = df1.melt(id_vars=['구분', '카테고리명', '자재그룹', '자재그룹명', '제품명', '단위', '판매', '안전재고', ' 분류'])  # 해당 컬럼들을 제외하고 값으로 열에 이어서 붙인다는 뜻
df2

C:\Users\Conet\AppData\Local\Temp\ipykernel_1460\3146430390.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  df2 = df1.melt(id_vars=['구분', '카테고리명', '자재그룹', '자재그룹명', '제품명', '단위', '판매', '안전재고', ' 분류'])  # 해당 컬럼들을 제외하고 값으로 열에 이어서 붙인다는 뜻

,구분,카테고리명,자재그룹,자재그룹명,제품명,단위,판매,안전재고,분류,variable,value
0,구분,CHB,1687,친환경 바디워시,A,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
1,구분,CHB,1687,친환경 바디워시,B,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
2,구분,CHB,1687,친환경 바디워시,C,천원,10354.1,0.0,A,2019-12-01 00:00:00.000,9474.3
3,구분,CHB,1687,친환경 바디워시,D,천원,3543.3,0.0,A,2019-12-01 00:00:00.000,7702.6
4,구분,CHB,1687,친환경 바디워시,E,천원,234603.9,39593.3,A,2019-12-01 00:00:00.000,56309.6
...,...,...,...,...,...,...,...,...,...,...,...
635,구분,CHB,1687,친환경 바디워시,Z2,천원,5012.4,0.0,K,2020-12-01 00:00:00.300,1619.5
636,구분,CHB,1687,친환경 바디워시,Z3,천원,585.0,0.0,K,2020-12-01 00:00:00.300,3191.2
637,구분,CHB,1687,친환경 바디워시,KC,천원,0.0,0.0,E,2020-12-01 00:00:00.300,0.0
638,구분,CHB,1687,친환경 바디워시,KC2,천원,16636.2,0.0,L,2020-12-01 00:00:00.300,16845.8
639,구분,CHB,1687,친환경 바디워시,KC3,천원,18871.3,0.0,F,2020-12-01 00:00:00.300,811.9

In [11]:
df2.shape

(640, 11)

In [12]:
df2.rename(columns = {'variable': '공급일자', 'value': '판매금액'})

,구분,카테고리명,자재그룹,자재그룹명,제품명,단위,판매,안전재고,분류,공급일자,판매금액
0,구분,CHB,1687,친환경 바디워시,A,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
1,구분,CHB,1687,친환경 바디워시,B,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
2,구분,CHB,1687,친환경 바디워시,C,천원,10354.1,0.0,A,2019-12-01 00:00:00.000,9474.3
3,구분,CHB,1687,친환경 바디워시,D,천원,3543.3,0.0,A,2019-12-01 00:00:00.000,7702.6
4,구분,CHB,1687,친환경 바디워시,E,천원,234603.9,39593.3,A,2019-12-01 00:00:00.000,56309.6
...,...,...,...,...,...,...,...,...,...,...,...
635,구분,CHB,1687,친환경 바디워시,Z2,천원,5012.4,0.0,K,2020-12-01 00:00:00.300,1619.5
636,구분,CHB,1687,친환경 바디워시,Z3,천원,585.0,0.0,K,2020-12-01 00:00:00.300,3191.2
637,구분,CHB,1687,친환경 바디워시,KC,천원,0.0,0.0,E,2020-12-01 00:00:00.300,0.0
638,구분,CHB,1687,친환경 바디워시,KC2,천원,16636.2,0.0,L,2020-12-01 00:00:00.300,16845.8
639,구분,CHB,1687,친환경 바디워시,KC3,천원,18871.3,0.0,F,2020-12-01 00:00:00.300,811.9

In [13]:
# 항목명을 바꿔주고 변수로 선언하기
df3 = df2.rename(columns = {'variable': '공급일자', 'value': '판매금액'})
df3

,구분,카테고리명,자재그룹,자재그룹명,제품명,단위,판매,안전재고,분류,공급일자,판매금액
0,구분,CHB,1687,친환경 바디워시,A,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
1,구분,CHB,1687,친환경 바디워시,B,천원,0.0,0.0,E,2019-12-01 00:00:00.000,0.0
2,구분,CHB,1687,친환경 바디워시,C,천원,10354.1,0.0,A,2019-12-01 00:00:00.000,9474.3
3,구분,CHB,1687,친환경 바디워시,D,천원,3543.3,0.0,A,2019-12-01 00:00:00.000,7702.6
4,구분,CHB,1687,친환경 바디워시,E,천원,234603.9,39593.3,A,2019-12-01 00:00:00.000,56309.6
...,...,...,...,...,...,...,...,...,...,...,...
635,구분,CHB,1687,친환경 바디워시,Z2,천원,5012.4,0.0,K,2020-12-01 00:00:00.300,1619.5
636,구분,CHB,1687,친환경 바디워시,Z3,천원,585.0,0.0,K,2020-12-01 00:00:00.300,3191.2
637,구분,CHB,1687,친환경 바디워시,KC,천원,0.0,0.0,E,2020-12-01 00:00:00.300,0.0
638,구분,CHB,1687,친환경 바디워시,KC2,천원,16636.2,0.0,L,2020-12-01 00:00:00.300,16845.8
639,구분,CHB,1687,친환경 바디워시,KC3,천원,18871.3,0.0,F,2020-12-01 00:00:00.300,811.9

In [14]:
# 날짜데이터로 변환해주기
df3['공급연도'] = df3['공급일자'].dt.year

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      640 non-null    object
 1   카테고리명   640 non-null    object
 2   자재그룹    640 non-null    int64
 3   자재그룹명   640 non-null    object
 4   제품명     640 non-null    object
 5   단위      640 non-null    object
 6   판매      640 non-null    float64
 7   안전재고    640 non-null    float64
 8    분류     640 non-null    object
 9   공급일자    640 non-null    datetime64[ns]
 10  판매금액    640 non-null    float64
 11  공급연도    640 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(2), object(6)
memory usage: 60.1+ KB

In [19]:
df3.pivot_table(index=['공급연도', ' 분류'], values = '판매금액', aggfunc = 'sum')

               판매금액
공급연도  분류
2019 A     356379.4
     B      20564.1
     E      27600.5
     F      19498.5
     G       1039.0
     H          0.0
     K      88588.6
     L          0.0
     M     143063.8
2020 A    1448912.0
     B        120.0
     E      25506.2
     F     113960.6
     G      25810.2
     H      52900.4
     K     105500.9
     L     107632.8
     M     296561.9

In [20]:
df3.pivot_table(index=' 분류', columns = '공급연도', values = '판매금액', aggfunc = 'sum')

공급연도      2019       2020
 분류
A     356379.4  1448912.0
B      20564.1      120.0
E      27600.5    25506.2
F      19498.5   113960.6
G       1039.0    25810.2
H          0.0    52900.4
K      88588.6   105500.9
L          0.0   107632.8
M     143063.8   296561.9

In [21]:
p1 = df3.pivot_table(index=' 분류', columns = '공급연도', values = '판매금액', aggfunc = 'sum').reset_index()
p1

공급연도  분류      2019       2020
0      A  356379.4  1448912.0
1      B   20564.1      120.0
2      E   27600.5    25506.2
3      F   19498.5   113960.6
4      G    1039.0    25810.2
5      H       0.0    52900.4
6      K   88588.6   105500.9
7      L       0.0   107632.8
8      M  143063.8   296561.9

In [22]:
# 2019년도 대비 2020년도의 증감률
p1['전년대비증감비율'] = (p1[2020] - p1[2019]) / p1[2019]
p1

공급연도  분류      2019       2020   전년대비증감비율
0      A  356379.4  1448912.0   3.065645
1      B   20564.1      120.0  -0.994165
2      E   27600.5    25506.2  -0.075879
3      F   19498.5   113960.6   4.844583
4      G    1039.0    25810.2  23.841386
5      H       0.0    52900.4        inf
6      K   88588.6   105500.9   0.190908
7      L       0.0   107632.8        inf
8      M  143063.8   296561.9   1.072935

## Mission 4

In [29]:
## 1)
df3.sort_values(by = '판매금액', ascending = False)[['제품명','판매금액']].head(2)

    제품명     판매금액
604   E  84967.2
124   E  84690.1

In [87]:
df12 = df3.pivot_table(index = '제품명', values = '판매금액').sort_values(by = '판매금액', ascending = False).reset_index().head(2)
df12

  제품명         판매금액
0   E  36847.50625
1   H  18609.85000

In [94]:
# 가설검정
df12 = df3.pivot_table(index = '제품명', values = '판매금액').sort_values(by = '판매금액', ascending = False).reset_index().head(2)
df12
cond1 = df12['제품명'] == 'E'
cond2 = df12['제품명'] == 'H'

# df12.loc[cond1]['판매금액']

stats.ranksums(df12.loc[cond1]['판매금액'], df12.loc[cond2]['판매금액'])
# 귀무: 제품명 E의 판매금액과 제품명 H의 판매금액의 차이가 없다.
# 대립: 제품명 E의 판매금액과 제품명 H의 판매금액의 차이가 있다.
# 귀무가설 채택 (제품명 E의 판매금액과 제품명 H의 판매금액의 차이가 없다.)

RanksumsResult(statistic=1.0, pvalue=0.31731050786291415)

In [36]:
## 2)
dd = df3.pivot_table(index = ' 분류', values = '판매금액', aggfunc = 'sum').reset_index()
dd

   분류       판매금액
0   A  1805291.4
1   B    20684.1
2   E    53106.7
3   F   133459.1
4   G    26849.2
5   H    52900.4
6   K   194089.5
7   L   107632.8
8   M   439625.7

In [37]:
## 3) 웹의 트래픽데이터
df4 = pd.read_csv('03_Data.csv')
print(df4.shape)
print(df4.info())

(10000, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   회원코드        10000 non-null  object
 1   프로그램        10000 non-null  object
 2   상태          10000 non-null  object
 3   프로그램가격      10000 non-null  int64
 4   최종결제금액      10000 non-null  int64
 5   결제시각        10000 non-null  object
 6   결제유형        10000 non-null  object
 7   채널          10000 non-null  object
 8   보조식품가격      10000 non-null  int64
 9   보조식품(추가구매)  10000 non-null  object
dtypes: int64(3), object(7)
memory usage: 781.4+ KB
None

In [38]:
## 4)
df4['프로그램'].value_counts()

체중감량 프로그램 (타입 A)    6672
체중감량 프로그램 (타입B)     3328
Name: 프로그램, dtype: int64

In [39]:
## 5)
df4.pivot_table(index = '채널', values = '최종결제금액', aggfunc = 'sum')

              최종결제금액
채널
direct      31337160
email       30655080
facebook   825136460
google      12663480
instagram    3562620
naver      111491750
others     149349690

In [86]:
## 6)
# from datetime import datetime, timedelta
#for i in range(0, 10001):

def split_str(data):
#    for i in range(0, 10001):
#        i += 1
        return data.split(' ')[0]  # 오후를 기준으로 자르지 말고, ' ' 공백을 기준으로 자르기
    
df4['결제일자'] = df4['결제시각'].apply(split_str)
df4['결제일자']
df4['결제일자'] = pd.to_datetime(df4['결제일자'])
df4['결제일자']

# pd.to_datetime(df4['결제일자'], format = '%Y-%mm-%dd')

# df4['결제일자_dt'] = df4['결제시각'].apply(lambda _ : datetime.strptime(_, "%m/%d/%Y %H:%M:%S"))

# df['date'].apply(lambda _ : datetime.strptime(_,'%Y%m%d'))

0      2017-04-14
1      2017-05-23
2      2017-08-23
3      2017-08-28
4      2017-05-07
          ...
9995   2017-04-18
9996   2017-08-16
9997   2017-08-09
9998   2017-04-28
9999   2017-06-02
Name: 결제일자, Length: 10000, dtype: datetime64[ns]

In [47]:
## 7)
import scipy.stats as stats
cond1 = df4['채널'] == 'facebook'
cond2 = df4['채널'] == 'naver'

stats.ranksums(df4.loc[cond1]['최종결제금액'], df4.loc[cond2]['최종결제금액'])
# 귀무: 페이스북과 네이버의 최종결제금액의 중앙값의 차이가 없다
# 대립: 페이스북과 네이버의 최종결제금액의 중앙값의 차이가 있다
# 대립가설 (페이스북과 네이버의 최종결제금액의 중앙값의 차이가 있다) 채택

RanksumsResult(statistic=19.602034886786576, pvalue=1.485626393063326e-85)

In [45]:
## 8)
cond1 = df4['채널'] == 'facebook'
df4.loc[cond1].sort_values(by = '최종결제금액', ascending = False).head(10).to_excel('result1_facebook.xlsx')