## 연습문제 (반복문, 제어문, 함수 등)

#### 퀴즈 1.
섭씨온도를 매개변수로 넘겨받아서 이를 화씨온도로 반환하는 cel2fah(cel) 함수

In [15]:
def cel2fah(cel):
    fahrenheit = (9/5) * cel + 32
    return fahrenheit

celsius = list(range(10,51,10))
result = []
for cels in celsius:
    fah = cel2fah(cels)
    result.append(fah)
    print('섭씨:', cels, '도 = 화씨:', fah)

섭씨: 10 도 = 화씨: 50.0
섭씨: 20 도 = 화씨: 68.0
섭씨: 30 도 = 화씨: 86.0
섭씨: 40 도 = 화씨: 104.0
섭씨: 50 도 = 화씨: 122.0

#### 퀴즈 2. 
n개의 숫자를 가변인수로 받은 후 이 숫자들을 오름차순으로 정렬하여 출력하는 my_sort() 함수

In [17]:
def my_sort(*numbers):
    a = []
    for i in numbers:
        a.append(i)
    a.sort()
    return a

my_sort(45, 3, 4, 56, 5)

[3, 4, 5, 45, 56]

In [23]:
def my_sort():
    numbers = input('숫자입력')
    numbers = map(int,numbers.split(' '))
    numbers = list(numbers)
    numbers = sorted(numbers, reverse=False)
    return numbers

my_sort()

숫자입력 45 3 4 56 5

[3, 4, 5, 45, 56]

In [27]:
import pandas as pd
a = input()
a = pd.Series(a.split(' ')).map(int).sort_values().values
print(a)

 45 3 4 56 5

[ 3  4  5 45 56]

In [28]:
a

array([ 3,  4,  5, 45, 56])

In [29]:
list(a)

[3, 4, 5, 45, 56]

#### 퀴즈 3. 
n1에서 n2까지의 정수의 합을 구하는 함수 sum_range(n1, n2)

In [3]:
def sum_range(n1, n2):
    s = 0
    for i in range(n1, n2+1):
        s += i
    return s

n1 = sum_range(10,20)
n2 = sum_range(40,100)

print('{}에서 {}까지의 정수의 합: '.format(10,20), n1)
print('{}에서 {}까지의 정수의 합: '.format(40,100), n2)

10에서 20까지의 정수의 합:  165
40에서 100까지의 정수의 합:  4270

## 퀴즈 4.
n_list = [1,2,3,4,5,6,7,8,9,10]
n_list
filter 의 데이터에서 홀수만을 추출하여 아래와 같이 만들고 싶다 함수를 이용해 작성.
원하는 결과: new_list = [1,3,5,7,9]

In [20]:
n_list = list(range(1,11,1))
def extract_odds(n):
    return True if n % 2 != 0 else False

result = filter(extract_odds, n_list)
print(result)
print(list(result))

<filter object at 0x7f9419de7970>
[1, 3, 5, 7, 9]

## 퀴즈 5.

In [30]:
scorelist = [78, 56, 67, 95, 82]
squares = map(lambda x: x+10, scorelist)
list(squares)

[88, 66, 77, 105, 92]

## 퀴즈 6.

In [32]:
from functools import reduce

a = [1, 2, 3, 4]
n = reduce(lambda x, y: x + y, a)
print(n)

10

## 퀴즈 7. 
리스트 축약(list comprehension)방법 이용

In [38]:
a = list(range(1,8,1))

b = [i ** 2 for i in a]
print("b=",b)

b= [1, 4, 9, 16, 25, 36, 49]

## 퀴즈 8.
txt파일 생성하는 코드 작성

In [39]:
with open('text.txt', 'w') as file:
    file.write('1번째 줄입니다.\n')
    file.write('2번째 줄입니다.\n')
    file.write('3번째 줄입니다.\n')

## 퀴즈 9.
1) 엑셀파일 열어서 csv 파일로 저장
2) 저장된 csv 파일을 파이썬을 이용해서 읽어들이고, 출력

In [41]:
import csv
with open('대학최종.csv', newline = '') as csvfile:
    data = csv.reader(csvfile)

In [42]:
data

In [47]:
with open('대학최종.csv') as csvfile:
    rdr = csv.DictReader(csvfile)
    count = 0
    for i in rdr:
        print(i)
        count += 1
        if(count == 5): break

{'\ufeff': '', 'Univeristy': 'UNIVERSITY OF SOUTHERN CALIFORNIA', 'Deadline': '1.15', '': '', 'TOEFL': '90', 'GRE': '0', 'Online/Offline': '', 'Ranking': '', 'STEM': '', 'Comments': '', 'Applicablity': 'not applicable'}
{'\ufeff': '', 'Univeristy': 'MAHARISHI UNIVERSITY OF MANAGEMENT', 'Deadline': '1.31', '': '', 'TOEFL': '0', 'GRE': '0', 'Online/Offline': '', 'Ranking': '', 'STEM': '', 'Comments': '', 'Applicablity': ''}
{'\ufeff': '', 'Univeristy': 'UNIVERSITY OF ARKANSAS', 'Deadline': '2.1', '': '', 'TOEFL': '79', 'GRE': '0', 'Online/Offline': '', 'Ranking': '', 'STEM': '', 'Comments': '', 'Applicablity': 'not applicable'}
{'\ufeff': '', 'Univeristy': 'CALIFORNIA POLYTECHNIC STATE UNIVERSITY-SAN LUIS OBISPO', 'Deadline': '2.1', '': '', 'TOEFL': '80', 'GRE': '0', 'Online/Offline': '', 'Ranking': '', 'STEM': '', 'Comments': 'https://gradbusiness.calpoly.edu/ms-business-analytics/apply/', 'Applicablity': 'not applicable'}
{'\ufeff': '', 'Univeristy': 'UNIVERSITY OF KANSAS', 'Deadline': '2.1', '': '', 'TOEFL': '80', 'GRE': '', 'Online/Offline': '', 'Ranking': '', 'STEM': '', 'Comments': '', 'Applicablity': ''}

In [44]:
import csv
f = open('대학최종.csv', 'r', encoding = 'utf-8')
rdf = csv.reader(f)
f.close()

## 퀴즈 10.
나이가 20이상인 데이터만 뽑아서 리스트 변수로 저장

In [52]:
ages = [34, 39, 20, 18, 13, 54]

new_ages = [i for i in ages if i >= 20]
print("new_ages =", new_ages)

new_ages = [34, 39, 20, 54]